.te-co-set { display: flex; align-items: center; min-height: 236px; padding: 60px; background-color: #f4f6fb;
	> div { width: 100%;
		h4 { margin-bottom: 15px;
			@media (min-width: 811px) { font-size: 30px; }
		}

		* {
			&:last-child { margin-bottom: 0; }
		}
	}

	&.set-white { background-color: $white; }
	&.set-simple { min-height: 0; padding-top: 0; padding-bottom: 0; background-color: transparent; }

	@include breakpoint(desktop) { padding: 40px; }
	@include breakpoint(tablet2) { padding: 24px 15px;
		&.set-simple { padding: 15px 0; }
	}
}

.ab-par-push { padding-left: 67px; }
.ab-par-pull { margin-left: -67px; }

@include breakpoint(tablet2) {
	.ab-par-push { padding-left: 55px; }
	.ab-par-pull { margin-left: -55px; }	
}

@include breakpoint(mobile) {
	.ab-par-push { padding-left: 0; }
	.ab-par-pull { margin-left: 0; }	
}

.ab-co-box { padding: 40px; background-color: $white;
	@include breakpoint(lg) { padding: 67px; }
	@include breakpoint(tablet2) { padding: 24px 15px; }
}

.ab-co-row {
	> .row {
		&:not([class*="row-"]) { @extend .row-medium; }

		> [class*="col"] { padding-bottom: 20px; border-right: 2px solid $orange;
			&:last-child { border-right: none; }

			h5 {
				&:not([class*="co"]) { color: $blue; }
			}

			> * {
				&:last-child { margin-bottom: 0; }
			}
		}

		&:first-child {
			> [class*="col"] { padding-top: 5px; }
		}
		&:last-child {
			> [class*="col"] { padding-bottom: 5px; }
		}
	}
}

.ab-par-col { padding-left: 42px;
	.ab-par-title { position: relative;
		&:before { content: ''; display: block; position: absolute; top: 0.8rem; left: -42px; width: 34px; border-top: 3px solid $orange; }
	}
}

.ab-co-push {
	@media (min-width: 1338px) { padding-left: 210px; }
}