.ad-pr-list {
	> li { padding-bottom: 15px;
		&:last-child {
			.ho-ch-set { min-height: 0;
				.ho-ch-icon {
					&.icon-arrow,
					&.icon-arrow-2 {
						&:after { display: none; }
					}
				}
			}
		}
	}

	.ho-ch-set { min-height: 255px;
		@include breakpoint(tablet2) { min-height: 0; }
	}

	@include breakpoint(tablet2) {
		> li { min-height: 200px; padding-left: 100px + 24px;
			.ho-ch-set { margin-left: -(100px + 24px);
				.ho-ch-par {
					> h5 { margin-bottom: 0 !important; }
				}
			}

			&:last-child { min-height: 0; }
		}
	}
	@include breakpoint(mobile) {
		> li { min-height: 140px; padding-left: 70px + 15px; padding-bottom: 20px;
			.ho-ch-set { margin-left: -(70px + 15px);
				&.set-2 {
					> * { margin-right: 15px; margin-bottom: 0;
						&:last-child { margin-right: 0; }
					}
				}
				.ho-ch-icon { min-width: 70px; max-width: 70px;
					&.icon-arrow {
						&:after { width: 14px; height: 40px; margin-top: 10px; }

						&.icon-arrow-2 {
							&:after { width: 14px; height: 94px; }
						}
					}
				}
			}

			&:last-child { min-height: 0; }
		}
	}
}