.button { display: flex; align-items: center; justify-content: center;
	&-primary { min-width: 190px; min-height: 67px; padding: 10px 40px; border: 2px solid $orange; text-align: center; color: $blue; font-weight: bold; background-color: transparent;
		&.button-white { color: $white; }
		&.button-orange { background-color: $orange; color: $white; }

		&:hover { background-color: $orange; border-color: $orange; color: $white;
			&.button-orange { background-color: $orange2; border-color: $orange2; color: $white; }
		}
		&:hover, &:focus, &:active { outline: none !important; }

		@include breakpoint(tablet2) { min-width: 150px; min-height: 55px; }
	}
}