// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
.font-a { font-family: 'Gilroy'; }
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gilroy-Light.otf')  format('opentype'),
	     url('../fonts/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy-Light.ttf')  format('truetype'), url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gilroy-ExtraBold.otf')  format('opentype'),
	     url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf')  format('truetype'), url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/** font face **/