// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; }
.footer-content { background-color: $blue; color: $white; @extend .link-white; }
.footer-top { padding-top: 50px; padding-bottom: 30px;
	@include breakpoint(tablet2) { padding-top: 30px; }
	@media (max-width: 575px) {
		.container {
			> .row {
				> [class*="col"] { margin-bottom: 40px;
					&:last-child { margin-bottom: 0; }
				}
			}
		}
	}
}
.footer-bottom { padding-top: 30px; padding-bottom: 30px; font-size: 10px;
	@include breakpoint(tablet2) { padding-top: 15px; padding-bottom: 15px; }
}

.fo-links-list { font-weight: bold;
	> li { margin-bottom: 30px;
		&:last-child { margin-bottom: 0; }

		a { color: inherit;
			&:hover { color: $orange; }
		}
	}

	@include breakpoint(tablet2) {
		> li { margin-bottom: 20px; }
	}
}

.fo-sns-list {
	> li { display: inline-block; vertical-align: middle; margin-right: 20px;
		&:last-child { margin-right: 0; }

		a { display: flex; align-items: center; justify-content: center; width: 55px; height: 55px; border: 2px solid $white; border-radius: 50%; color: $white; font-size: 24px;
			&:hover { background-color: $white; color: $blue; }
		}
	}

	@include breakpoint(tablet2) {
		> li { margin-right: 15px;
			a { width: 50px; height: 50px; font-size: 22px; }
		}
	}

	@include breakpoint(phablet) {
		&.list-2 {
			> li { margin-right: 10px;
				&:last-child { margin-right: 0; }

				a { width: 35px; height: 35px; font-size: 16px; }
			}
		}
	}
}