// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
header {}
.header-content { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; padding-top: 40px; background-color: $blue; color: $white; transition: box-shadow 0.3s ease; @extend .link-white;
	&.header-absolute { position: absolute; }
	&.header-down { box-shadow: 0 0 10px rgba($black,0.3); }

	.logo { display: flex; align-items: center; font-size: 32px; font-weight: bold; color: inherit; line-height: 1.2;
		> * { margin-right: 20px;
			&:last-child { margin-right: 0; }
		}

		img { min-width: 79px; }

		span { transition: none; }
	}

	.menu { border-top: 1px solid $orange;
		> ul { display: flex;
			> li { position: relative; width: 100%;
				> a { display: flex; align-items: center; justify-content: center; width: 100%; padding: 6px 10px; text-align: center; font-weight: bold; color: $white; text-align: center; }

			}

			&:not(.list-hover) {
				> li {
					&:hover {
						> a { background-color: $darkBlue; color: $white; }
					}
				}
			}

			&.list-hover {
				.list-hover-bar { height: 100%; background-color: $darkBlue; }
			}
		}

		.menu-sub { display: none; z-index: 10; position: absolute; top: 100%; left: 0; width: 100%; min-width: 680px; padding: 30px 50px; background-color: rgba($darkBlue, 0.9);
			ul {
				li { margin-bottom: 15px;
					&:last-child { margin-bottom: 0; }

					a { color: inherit;
						&:hover { color: $orange; }
					}
				}
			}
		}

		@media (max-width: 992px) { font-size: 18px;
			> ul {
				> li {
					img { max-width: 30px; }
				}
			}
		}
	}

	@include breakpoint(tablet) { padding-top: 15px; padding-bottom: 15px;
		// .menu { display: none; }

		.logo { font-size: 20px;
			> * { margin-right: 15px; }

			img { min-width: 50px; max-width: 50px; }
		}
	}

	@include breakpoint(mobile) {
		.logo { font-size: 16px;
			> * { margin-right: 10px; }

			img { min-width: 40px; max-width: 40px; }
		}
	}

	@include breakpoint(mobile3) {
		.logo {
			> span { display: none; }
		}
	}
}

.he-co-top { padding: 0 15px 13px 15px;
	@include breakpoint(tablet) { padding: 0; }
}

.he-co-phone { display: block; position: relative; padding: 6px 15px 6px 75px; background-color: $orange; color: $white; border-radius: 25px; text-align: center;
	.icon { display: block; position: absolute; top: 50%; left: 17px; @extend .bp-centralize; }

	&:hover { background-color: $orange2; color: $white; }

	@media (min-width: 1200px) { min-width: 550px; padding: 6px 10px 6px (20px + 15); }
}

.he-co-phone-icon { display: block; min-width: 40px;
	@include breakpoint(tablet) { min-width: 30px; max-width: 30px; }
}

.menu-mobile-active { height: 100vh; pointer-events: none;
	body { position: relative; pointer-events: none; overflow: hidden; }
	header, .header-content { pointer-events: auto; }
}

.menu-bar { display: none; position: relative; margin-left: 20px; cursor: pointer; transition: width 0.3s ease;
	span { position: relative; display: block; width: 24px; height: 4px; margin: 5px 0; @extend .ease2;
		&:before { content: ''; display: block; position: absolute; top: 0; right: 0; width: 100%; height: 100%; background-color: $white; @extend .ease2; }

		&:nth-child(1) { }
		&:nth-child(2) {
			&:before { width: 80%; }
		}
		&:nth-child(3) {
			&:before { width: 60%; }
		}
	}

	&.active {
		span {
			&:before { width: 100% !important; }

			&:nth-child(1) { transform: rotate(45deg) translate3d(5px,8px,0); }
			&:nth-child(2) { opacity: 0; }
			&:nth-child(3) { transform: rotate(-45deg) translate3d(5px,-8px,0); }
		}
	}

	@include breakpoint(tablet) { display: block; }
}

.header-menu-sub-mobile,
.header-menu-mobile { display: none; position: absolute; top: 100%; left: 0; width: 100%; height: 100%; background-color: $white; overflow: auto; color: $defaultColor !important; @extend .scrolling-touch;
	@media (min-width: 811px) { display: none !important; }
}

.header-menu-mobile {
	.menu { border-top: none; font-size: inherit;
		> ul { display: block;
			> li { margin-top: 20px;
				&:first-child { margin-top: 0; }

				> a { display: block; min-height: 0 !important; padding: 6px 0; text-align: inherit; color: inherit;
					img { max-width: 30px; }
				}

				&.sub {
					> a { position: relative;
						&:after { content: '\f105'; display: block; position: absolute; top: 50%; right: 0; font-family: $FontAwesome; @extend .bp-centralize; }
					}
				}
			}
		}

		.list-hover-bar { display: none !important; }
	}
}

.he-me-main { padding: 15px; }
.he-me-su-main { padding: 15px;
	> .link-arrow-left { display: inline-block; padding-top: 10px; margin-bottom: 20px; font-weight: bold; text-transform: uppercase; color: inherit;
		&:before { position: relative; top: -1px; padding-right: 10px; font-size: 120%; }
	}

	.menu-sub {
		ul {
			li { margin-bottom: 15px;
				a { color: inherit;
					&:hover { color: $orange; }
				}
			}
		}
	}
}