.act-co-list {
	> li { }

	&.list-4 { display: flex; flex-wrap: wrap; margin-left: -20px; margin-right: -20px;
		> li { flex: 0 0 25%; max-width: 25%; padding-left: 20px; padding-right: 20px; margin-bottom: 60px; }

		@media (max-width: 1360px) { margin-left: -15px; margin-right: -15px;
			> li { padding-left: 15px; padding-right: 15px; }
		}

		@media (max-width: 1080px) {
			> li { flex: 0 0 33.33%; max-width: 33%; }
		}
	}

	&.owl-loaded { display: block !important; }
}

.act-co-set { padding: 30px; background-color: $white; transition: box-shadow 0.3s; text-align: center;
	&:hover { box-shadow: 0 2px 15px rgba($black, 0.05); }

	> * {
		&:first-child {
			&.act-co-banner { margin-top: -30px; margin-left: -30px; margin-right: -30px; }
		}
	}

	@include breakpoint(tablet2) { padding: 24px 15px;
		> * {
			&:first-child {
				&.act-co-banner { margin-top: -24px; margin-left: -15px; margin-right: -15px; }
			}
		}
	}
}

.act-co-banner { @extend .bp-img; }

.act-co-icon { border: 2px solid $orange; border-radius: 50%; @extend .bp-img;
	img { border-radius: 50%; }
}

.act-pro-list {
	> li { }
}

.act-pro-set { display: flex; position: relative; padding: 180px 60px 180px 70px;
	&:before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 235px; border-top: 2px solid $orange; }

	> * { width: 100%; margin-right: 70px;
		&:last-child { position: relative; margin-right: 0;
			&:after { content: ''; display: block; position: absolute; bottom: 0; right: -21px; width: 21px; height: 77px; background: url('../img/hfsean-life/icon_arrow_up_orange.png') no-repeat center; background-size: 100% auto; }
		}

		&.col-small { max-width: 286px; }
	}

	.act-co-icon { min-width: 154px; max-width: 154px; }

	@media (max-width: 1360px) { padding-top: 100px; padding-bottom: 100px; }
	@include breakpoint(desktop) { padding: 50px 40px 50px 50px;
		> * { margin-right: 50px;
			&:last-child {
				&:after { right: 0; width: 11px; height: 40px; }
			}
			&.col-small { max-width: 250px; }
		}

		.act-pro-img { max-width: 200px; }

		.act-co-icon { min-width: 100px; max-width: 100px; }
	}

	@include breakpoint(tablet) { padding: 50px 0; }

	@media (max-width: 767px) { display: block;
		> * { width: auto; margin-right: 0;

			&.col-small { max-width: inherit; }
		}

		.act-pro-img { max-width: 150px; }
	}

	@include breakpoint(mobile) {
		.act-pro-img { max-width: 120px; }
	}
}

.act-pro-img { position: relative; overflow: hidden; border-radius: 50%;
	img { border-radius: 50%; }
}

.ab-tab-list { display: flex; flex-wrap: wrap; margin-left: -30px; margin-right: -30px;
	> * { padding-left: 30px; padding-right: 30px; }

	li {
		&.active {
			.at-li-set { @extend .at-li-set.active; }
		}
	}

	&.owl-loaded { margin-left: -15px; margin-right: -15px;
		> * { padding-left: 0; padding-right: 0; }

		li {
			&[class*="col"] { flex: 0 0 100%; max-width: 100%; padding-left: 0; padding-right: 0;
				.at-li-set { padding: 80px 40px calc(80px + 40px) 40px; }

				@include breakpoint(tablet2) {
					.at-li-set { padding: 60px 24px calc(60px + 24px) 24px; }
				}
				@include breakpoint(mobile) {
					.at-li-set { padding: 24px 15px calc(24px + 15px) 15px;
						h4 { font-size: inherit; }
					}
				}
			}
		}
	}

	@media (max-width: 1360px) { margin-left: -15px; margin-right: -15px;
		> * { padding-left: 15px; padding-right: 15px; }
	}
}

.at-li-set { display: flex; align-items: center; justify-content: center; padding: 95px 40px calc(95px + 80px) 40px; background-image: url('../img/banner_ribbon.png'); background-repeat: no-repeat; background-position: 50% 50%; background-size: 100% 100%; text-align: center; transition: background 0.3s, color 0.3s;
	* { color: inherit;
		&:last-child { margin-bottom: 0; }
	}

	&.active { cursor: default; }

	&:hover, &.active { background-image: url('../img/banner_ribbon_full.png'); color: $white; }

	@media (max-width: 992px) { padding: 50px 24px calc(50px + 40px) 24px; }
}

.com_tabs {
	.tab-nav {
		li {
			&.ui-state-active {
				.at-li-set { @extend .at-li-set.active; }
			}
		}
	}
}

.hf-su-box { position: relative; padding: 15px; background-color: #c1c1db; overflow: hidden; }
.hf-su-head { max-width: 850px; text-align: center; padding: 40px; @extend .auto;
	@include breakpoint(tablet2) { padding: 15px 0; }
}

.hf-su-main {
	.tab-nav { max-width: 1060px; @extend .auto;
		.at-li-set { padding-top: 28px; padding-bottom: 28px + 15px ; background-image: url('../img/banner_ribbon_small.png');
			&:hover, &.active { background-image: url('../img/banner_ribbon_full_small.png'); }
		}

		.ab-tab-list.owl-loaded li[class*="col"] .at-li-set { padding: 28px 15px calc(28px + 15px) 15px;
			@include breakpoint(mobile) { padding-top: 15px; padding-bottom: calc(28px + 15px);
				* { font-size: inherit; }
			}
		}
	}
}

.ab-co-accordion {
	.com_accordion-set { margin-bottom: 18px; background-color: $white;
		&:last-child { margin-bottom: 0; }

		.com_accordion-title { position: relative;
			&:after { content: '\f067'; display: block; position: absolute; top: 50%; right: 100px; font-family: $FontAwesome; font-size: 30px; font-weight: 300; transform: translate3d(0,-50%,0) rotate(0deg); transition: transform 0.3s; }

			@include breakpoint(desktop) {
				&:after { right: 40px; }
			}
			@include breakpoint(tablet2) {
				&:after { right: 15px; font-size: 24px; }
			}
		}

		&.selected {
			.com_accordion-title {
				&:after { transform: translate3d(0,-50%,0) rotate(-135deg); }
			}
		}

		@include breakpoint(tablet2) { margin-bottom: 10px; }
	}
	.com_accordion-title, 
	.com_accordion-content { padding: 30px 100px;
		@include breakpoint(desktop) { padding-left: 40px; padding-right: 40px; }
		@include breakpoint(tablet2) { padding: 24px 15px; }
		@include breakpoint(mobile) { padding: 15px; }
	}

	.com_accordion-title { display: flex; align-items: center; color: $blue; padding-right: 100px + 30px;
		> * { margin-bottom: 0; margin-right: 40px;
			&:last-child { margin-right: 0; }
		}

		* {
			&:not([class*="co"]) { color: inherit; }
		}

		@include breakpoint(tablet2) { padding-right: 40px + 30px;
			> * { margin-right: 24px; }
		}

		@include breakpoint(mobile) { padding-right: 15px + 15px;
			> * { margin-right: 15px; }

			h4 { font-size: inherit; }
		}
	}

	.com_accordion-content { padding-left: 100px + 80px + 40px; padding-right: 100px + 40px; padding-top: 0 !important;

		@include breakpoint(desktop) { padding-left: 40px + 80px + 40px; padding-right: 40px + 40px; }
		@include breakpoint(tablet2) { padding-left: 15px + 60px + 24px; padding-right: 15px + 24px;
			.pull-left { margin-left: -99px;
				&[class*="pl"] { padding-left: 99px; }
			}
			.pull-right { margin-right: -39px; }
		}
		@include breakpoint(mobile) { padding-left: 15px; padding-right: 15px;
			.pull-left { margin-left: -15px;
				&[class*="pl"] { padding-left: 15px; }
			}
			.pull-right { margin-right: -15px; }
		}
	}
}

.ac-acc-num { display: flex; align-items: center; justify-content: center; width: 80px; min-width: 80px; height: 80px; border: 2px solid $orange; color: $blue; @extend .bp-circle, .ease2;
	// &:hover, &.active { background-color: $orange; color: $white; }

	@include breakpoint(tablet2) { width: 60px; min-width: 60px; height: 60px; }
	@include breakpoint(mobile) { width: 40px; min-width: 40px; height: 40px; }
}

.ac-acc-num-list {
	> li { display: flex; margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }

		> span {
			&:first-child { padding-right: 20px; }
		}
	}
}

.gal-co-list {
	> li { margin-bottom: 100px;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(phablet) {
		> li { margin-bottom: 50px; }
	}
	@include breakpoint(mobile) {
		> li { margin-bottom: 30px; }
	}
}

.gc-li-set { display: flex;
	> * { width: 100%; margin-right: 50px;
		&:last-child { margin-right: 0; }
	}

	.gl-se-vid { min-width: 521px; max-width: 521px; }

	@include breakpoint(tablet) {
		.gl-se-vid { min-width: 450px; max-width: 450px; }
	}
	@include breakpoint(phablet) { display: block;
		> * { width: auto; margin-right: 0; margin-bottom: 10px;
			&:last-child { margin-bottom: 0; }
		}

		.gl-se-vid { min-width: 100%; max-width: inherit; }
	}
}

.gl-se-vid { position: relative; @extend .bp-img, .bp-img.wide; }

.gal-img-list {
	&.list-4 { display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px;
		> li { flex: 0 0 25%; max-width: 25%; padding-left: 15px; padding-right: 15px; margin-bottom: 30px; }

		@include breakpoint(tablet) {
			> li { flex: 0 0 33.33%; max-width: 33.33%; }
		}

		@include breakpoint(mobile) { margin-left: -8px; margin-right: -8px;
			> li { flex: 0 0 50%; max-width: 50%; padding-left: 8px; padding-right: 8px; margin-bottom: 16px; }
		}
	}
}

.ac-acc-list {
	 > li { margin-bottom: 50px; padding-left: 120px;
	 	&:last-child { margin-bottom: 0; }

	 	> * { margin-bottom: 20px;
	 		&:last-child { margin-bottom: 0; }
	 	}

	 	.ac-li-title { margin-left: -120px; }
	 }

	 @include breakpoint(tablet2) {
	 	> li { margin-bottom: 30px; padding-left: 84px;
	 		.ac-li-title { margin-left: -84px; }
	 	}
	 }

	 @include breakpoint(mobile) {
	 	> li { padding-left: 40px + 15px;
	 		.ac-li-title { margin-left: 0; }
	 	}
	 }
}

.ac-li-title { display: flex; align-items: center;
	> * { margin-bottom: 0; margin-right: 40px;
		&:last-child { margin-right: 0; }
	}

	@include breakpoint(tablet2) {
		> * { margin-right: 24px; }
	}
	@include breakpoint(mobile) {
		h5 { font-size: inherit; }
	}
}