.com_ho-box { padding-left: 70px; padding-right: 70px; border-top: 10px solid $orange; border-bottom: 10px solid $orange; background-color: $white;
	&:not([class*="pt"]) { padding-top: 190px; }
	&:not([class*="pb"]) { padding-bottom: 190px; }

	&.bd-top-none { border-top: none; }
	&.bd-bottom-none { border-bottom: none; }

	&.box-medium {
		&:not([class*="pt"]) { padding-top: 130px; }
		&:not([class*="pb"]) { padding-bottom: 130px; }

		@include breakpoint(tablet2) {
			&:not([class*="pt"]) { padding-top: 80px; }
			&:not([class*="pb"]) { padding-bottom: 80px; }
		}
	}

	&.bp-rel { position: relative;
		.container { z-index: 3; position: relative; }
	}

	.bp-banner.bp-ab { z-index: 0; }

	@include breakpoint(tablet2) { padding-left: 15px; padding-right: 15px;
		&:not([class*="pt"]) { padding-top: 100px; }
		&:not([class*="pb"]) { padding-bottom: 100px; }

		.mob-pull-left { margin-left: -30px; }
		.mob-pull-right { margin-right: -30px; }
	}
}

.com_ho-box-img { border-top: 10px solid $orange; }

.ho-co-col {
	&:not([class*="mt"]) { margin-top: 100px; }

	@include breakpoint(tablet2) {
		&:not([class*="mt"]) { margin-top: 50px; }
	}
}

.com_ho-sl-set { position: relative; background-color: $blue; color: $white; @extend .link-white;
	.com_hs-se-par { position: absolute; bottom: 0; left: 0; width: 100%; }
}
.com_hs-se-par { padding: 47px;
	> * { margin-bottom: 30px;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(tablet2) { padding: 24px 15px; }
}

.ho-sl-quote { position: relative; padding-left: 25px; color: $blue;
	&:before, &:after { content: '“'; display: inline; }
	&:before { display: block; position: absolute; top: 0; left: 0; }
	&:after { padding-left: 5px; }
}

.ho-ch-list {
	&.list-push-left { padding-left: 135px; }

	> li { margin-bottom: 80px;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(tablet) {
		&.list-push-left { padding-left: 0; }

		> li { margin-bottom: 50px; }

		&.owl-carousel {
			&.list-push-left { padding-left: 15px; }			
		}
	}
}

.ho-ch-set { display: flex; align-items: flex-start; padding-top: 60px;
	> * { width: 100%; margin-right: 45px;
		&:last-child { margin-right: 0; }
	}

	.ho-ch-icon { margin-top: -60px; }

	@include breakpoint(tablet) {  display: block; padding-top: 0; padding-right: 20px;
		.ho-ch-icon { margin-top: 0; }		
		> * { margin-bottom: 20px;
			&:last-child { margin-bottom: 0; }
		}

		&.set-2 { display: flex; align-items: center;
			> * { margin-right: 24px; }
		}
	}

	@include breakpoint(phablet) { padding-right: 15px; }
}
.ho-ch-par {
	> * { margin-bottom: 25px;
		&:last-child { margin-bottom: 0; }
	}

	h4 { margin-bottom: 20px;
		&:not([class*="co-"]) { color: $blue; }
	}
}
.ho-ch-icon { display: flex; align-items: center; justify-content: center; min-width: 154px; max-width: 154px; border: 2px solid $orange; border-radius: 50%;
	@include breakpoint(tablet2) { min-width: 100px; max-width: 100px; }
	// @include breakpoint(phablet) { min-width: 150px; max-width: 150px; }

	&.icon-arrow { position: relative;
		&:after { content: ''; display: block; position: absolute; top: 100%; left: 50%; width: 21px; height: 60px; margin-top: 25px; background-image: url('../img/icon_arrow_down.png'); background-repeat: no-repeat; background-size: auto 100%; transform: translate3d(-50%,0,0); }

		&-2 {
			&:after { height: 145px; background-image: url('../img/icon_arrow_down_long.png'); }
		}
	}
}

.ho-tes-set { position: relative; padding: 40px;
	&:before, &:after { content: '“'; display: block; position: absolute; font-size: 71px; font-weight: bold; color: $blue; line-height: 1.0; }
	&:before { top: 0; left: -2px; }
	&:after { bottom: -20px; right: 0; }

	> * { margin-bottom: 30px;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(phablet) { padding: 24px;
		&:before, &:after { font-size: 50px; }
	}
}

.ho-vid-list {
	> li { margin-bottom: 50px;
		&:last-child { margin-bottom: 0; }
	}
}

.hv-li-set { max-width: 393px;
	> * { margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(tablet2) { max-width: inherit; }
}

.ho-co-input { height: 64px; padding: 20px 40px; background-color: #f4f4f6; border: none; outline: none !important; box-shadow: none !important; font-size: inherit; @extend .mobile-input;
	@include breakpoint(tablet2) { height: auto; padding: 10px 24px; }
}
textarea.ho-co-input { min-height: 137px; resize: none;
	@include breakpoint(tablet2) { min-height: 130px; }
}

.ho-co-form {
	.form-group { margin-bottom: 20px;
		&:last-child { margin-bottom: 0; }
	}

	.form-control { @extend .ho-co-input; }

	@include breakpoint(lg) { max-width: 465px; }
}