.link {
	&:not(.link-simple) { @include underline($blue); }
}

p {
	a {
		&:not(.link-underline) { @extend .link; }
	}
}

.link-inherit { color: inherit; }

.link-arrow {
	&:after { content: '\f105'; display: inline-block; vertical-align: middle; padding-left: 5px; font-family: $FontAwesome; font-size: inherit; transition: transform 0.5s ease; }

	&:hover { color: $orange;
		&:after { transform: translate3d(7px,0,0); }
	}
}

.link-arrow-left {
	&:before { content: '\f104'; display: inline-block; vertical-align: middle; padding-right: 5px; font-family: $FontAwesome; transition: transform 0.5s ease; }

	&:hover { color: $orange;
		&:before { transform: translate3d(-7px,0,0); }
	}
}

.link-white {
	.link { color: inherit;
		&:hover { color: $orange; }

		&:not(.link-simple) { @include underline($orange); }
	}
}

.link-underline { @include underline2($blue); }