 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { transition: all 0.5s ease; }
.ease2 { transition: all 0.3s ease; }
.ease-none { transition: none; }
.auto { max-width:$maxWidth; margin-left: auto; margin-right: auto; }
#main-wrapper { background-color: #f9fafd; }

.section { padding-top: 90px; padding-bottom: 90px;
	@include breakpoint(tablet2) { padding-top: 50px; padding-bottom: 50px; }
}

.fl { float:left; outline: 1px solid red; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }


.bp-set { display:inline-block; *display:inline;
  &.vm { vertical-align:middle; }
  &.vt { vertical-align:top; }
  &.vb { vertical-align:bottom; }
}
.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }

.co-grey { color: $defaultColor; }
.co-black { color: $black; }
.co-white { color: $white; }
.co-blue { color: $blue; }

.bg-blue { background-color: $blue; }

.pad-edge { padding-left: 15px; padding-right: 15px; }
.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
  &.img-scrollable { position: relative; overflow: auto; @extend .scrolling-touch;
  	img { max-width: inherit; }
  }
  &.img-pull { margin: -15px; }
}

.pull-left { margin-left: -15px; }
.pull-right { margin-right: -15px; }

@include breakpoint(tablet2) {
	.mob-pull-left { margin-left: -15px; }
	.mob-pull-right { margin-right: -15px; }
}

.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%); }
.mobile-input { @include appearance(none); border-radius: 0; }
.bp-centralize { transform: translate3d(0, -50%, 0); }
.bp-centralize2 { transform: translate3d(-50%, 0, 0); }
.bp-centralize3 { transform: translate3d(-50%, -50%, 0); }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

.pl15 { padding-left: 15px; }

.pt1 { padding-top: 10px; }
.pt2 { padding-top: 20px; }
.pt3 { padding-top: 30px; }
.pt4 { padding-top: 40px; }
.pt5 { padding-top: 50px; }

.pr15 { padding-right: 15px; }
.pr1 { padding-right: 10px; }
.pr2 { padding-right: 20px; }
.pr3 { padding-right: 30px; }
.pr4 { padding-right: 40px; }
.pr5 { padding-right: 50px; }

.pb1 { padding-bottom: 10px; }
.pb2 { padding-bottom: 20px; }
.pb3 { padding-bottom: 30px; }
.pb4 { padding-bottom: 40px; }
.pb5 { padding-bottom: 50px; }

.ml15 { margin-left: 15px; }

.mt1 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt2 { margin-top: 20px; }
.mt3 { margin-top: 30px; }
.mt4 { margin-top: 40px; }
.mt5 { margin-top: 50px; }
.mt6 { margin-top: 60px; }

.mr15 { margin-right: 15px; }

.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb2 { margin-bottom: 20px; }
.mb3 { margin-bottom: 30px; }
.mb4 { margin-bottom: 40px; }
.mb5 { margin-bottom: 50px; }

@include breakpoint(tablet2) {
	.pt2 { padding-top: 10px; }
	.pt3 { padding-top: 20px; }
	.pt4 { padding-top: 30px; }
	.pt5 { padding-top: 40px; }

	.pb2 { padding-bottom: 10px; }
	.pb3 { padding-bottom: 20px; }
	.pb4 { padding-bottom: 30px; }
	.pb5 { padding-bottom: 40px; }

	.mt2 { margin-top: 10px; }
	.mt3 { margin-top: 20px; }
	.mt4 { margin-top: 30px; }
	.mt5 { margin-top: 40px; }

	.mb2 { margin-bottom: 10px; }
	.mb3 { margin-bottom: 20px; }
	.mb4 { margin-bottom: 30px; }
	.mb5 { margin-bottom: 40px; }

	.mob-pt0 { padding-top: 0; }
	.mob-pt1 { padding-top: 10px; }
	.mob-pt2 { padding-top: 20px; }
	.mob-pt3 { padding-top: 30px; }
	.mob-pt4 { padding-top: 40px; }
	.mob-pt4 { padding-top: 50px; }

	.mob-pr0 { padding-right: 0; }
	.mob-pr1 { padding-right: 10px; }
	.mob-pr2 { padding-right: 20px; }
	.mob-pr3 { padding-right: 30px; }
	.mob-pr4 { padding-right: 40px; }
	.mob-pr5 { padding-right: 50px; }

	.mob-pb1 { padding-bottom: 10px; }
	.mob-pb2 { padding-bottom: 20px; }
	.mob-pb3 { padding-bottom: 30px; }
	.mob-pb4 { padding-bottom: 40px; }
	.mob-pb5 { padding-bottom: 50px; }

	.mob-mt0 { margin-top: 0; }
	.mob-mt1 { margin-top: 10px; }
	.mob-mt2 { margin-top: 20px; }
	.mob-mt3 { margin-top: 30px; }
	.mob-mt4 { margin-top: 40px; }
	.mob-mt5 { margin-top: 50px; }

	.mob-mb0 { margin-bottom: 0; }
	.mob-mb1 { margin-bottom: 10px; }
	.mob-mb2 { margin-bottom: 20px; }
	.mob-mb3 { margin-bottom: 30px; }
	.mob-mb4 { margin-bottom: 40px; }
	.mob-mb5 { margin-bottom: 50px; }
}
// you can include here the rest of your class name eg. home page
.container { max-width: 1617px;
	&-width-2 { max-width: 1376px; }
	&-width-3 { max-width: 1330px; }
	&-width-4 { max-width: 1125px; }
	&-width-5 { max-width: 875px; }
	&-width-6 { max-width: 920px; }

	@include breakpoint(tablet2) {
		.container { padding-left: 0; padding-right: 0; }
	}
}

.scrolling-touch { overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
.no-wrap { white-space: nowrap; }
.word-break { word-break: break-all; }

/** for inview animation **/
.animate, .anim-content, .animated { opacity: 0; }
.animated.visible, .anim-content.visible { animation-fill-mode: forwards; }
.anim-content.visible { animation: animRun 0.8s ease forwards; }
@keyframes animRun {
	0% { opacity: 0; transform: translateY(40px); }
	100% { opacity: 1; transform: translateY(0); }
}

// for backgrounds
.bp-banner { background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;
	&.bp-ab { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

.com_par {
	* {
		&:last-child { margin-bottom: 0 !important; }
	}
}

.com_icon-list {
	> li { display: flex; align-items: center; margin-bottom: 14px;
		&:last-child { margin-bottom: 0; }

		> * { margin-right: 24px;
			&:last-child { margin-right: 0; }
		}

		.icon { width: 45px; min-width: 45px; }
	}

	* {
		&:last-child { margin-bottom: 0; }
	}

	&.list-2 {
		> li { margin-bottom: 20px;
			&:last-child { margin-bottom: 0; }
		}

		@include breakpoint(tablet2) { 
			> li { margin-bottom: 15px; }
		}
	}

	&.list-3 {
		> li { margin-bottom: 10px;
			&:last-child { margin-bottom: 0; }
		}
	}

	@include breakpoint(tablet2) {
		> li {
			> * { margin-right: 15px; }

			.icon { width: 40px; min-width: 40px; }
		}
	}
}

.com_line-container { position: relative; padding-top: 30px;
	&:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; max-width: 197px; border-top: 2px solid $orange; }

	&.no-line {
		&:after { display: none; }
	}
}

.list-hover { position: relative;
	> * { z-index: 2; position: relative; }
	.list-hover-bar { z-index: 0; display: block; position: absolute; top: 0; left: 0; width: 0; height: 0; }

	a { z-index: 3; position: relative; @extend .ease2; }
}

.com_masthead { position: relative; min-height: 822px; background-color: $blue; color: $white;
	* { color: inherit; }

	> * { z-index: 3; position: relative; }

	.bp-banner { z-index: 0; }

	@include breakpoint(mobile) { min-height: 350px; }
}

.com_masthead-main {
	&.bottom { position: absolute; bottom: 0; left: 0; width: 100%; }
}

.com_masthead-col { padding-bottom: 40px; border-bottom: 10px solid $orange;
	&.bd-bottom-none { border-bottom: none; }
	
	@include breakpoint(mobile) { padding-bottom: 20px; }
}

.com_video-player { position: relative; overflow: hidden; @extend .bp-img, .bp-img.wide;
	video { display: block; }

	&:not(.bp-ab) { }

	&.bp-ab { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;
		video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }

		&:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba($black, 0.1); }
	}
}

.com_vi-pl-btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; @extend .bp-img;
	&:before, &:after { z-index: 2; content: ''; display: block; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	&:before { opacity: 0; background-color: rgba($black, 0.5); @extend .ease; }
	&:after { top: 50%; left: 50%; width: 106px; height: 105px; background: url('../img/icon_play_white.png') no-repeat center; background-size: 100% auto; @extend .bp-centralize3; }

	&:hover {
		&:before { opacity: 1; }
	}

	&.btn-2 {
		&:after { width: 97px; height: 97px; background: url('../img/icon_play_white_no_shadow.png') no-repeat center; background-size: 100% auto; }
	}

	@include breakpoint(tablet2) {
		&:after { width: 70px; height: 70px; }

		&.btn-2 {
			&:after { width: 60px; height: 60px; }
		}
	}
}
a.com_vi-pl-btn { display: block; position: relative; width: auto; height: auto; }

.row-btn-list { display: flex;
	> * { margin-right: 40px;
		&:last-child { margin-right: 0; }
	}

	&.d-block {
		> * { margin-right: 0; margin-bottom: 10px;
			&:last-child { margin-bottom: 0; }
		}
	}

	@include breakpoint(mobile) { display: block;
		> * { margin-right: 0; margin-bottom: 15px;
			&:last-child { margin-bottom: 0; }
		}
	}
}

// for rows
.row {
	&.row-small { margin-left: -10px; margin-right: -10px;
		> [class*="col"] { padding-left: 10px; padding-right: 10px; }
	}

	&.row-large {
		@include breakpoint(lg) { margin-left: -25px; margin-right: -25px;
			> [class*="col"] { padding-left: 25px; padding-right: 25px; }
		}
		@media (min-width: 1400px) { margin-left: -30px; margin-right: -30px;
			> [class*="col"] { padding-left: 30px; padding-right: 30px; }
		}
	}
	&.row-medium {
		@include breakpoint(lg) { margin-left: -25px; margin-right: -25px;
			> [class*="col"] { padding-left: 25px; padding-right: 25px; }
		}
	}

	&.mob-row-small {
		@include breakpoint(mobile) { margin-left: -5px; margin-right: -5px;
			> [class*="col"] { padding-left: 5px; padding-right: 5px; }
		}
	}
}

// for flexslider
.flexslider {
	ul.slides {
		> li {
			

			&.flex-active-slide {
				.slider-animate {
					> * { opacity: 0; animation: animRun 0.5s ease forwards; }
				}
			}
		}
	}

	&.car-1 {
		.flex-control-nav { bottom: inherit; top: 100%; }
		.flex-control-paging { margin-top: 30px;
			li { margin-left: 10px; margin-right: 10px;
				&:first-child { margin-left: 0; }
				&:last-child { margin-right: 0; }

				a { width: 16px; height: 16px; background-color: #b0b2b3; box-shadow: none;
					&:hover { background-color: darken(#b0b2b3, 10%); }
					&.flex-active { background-color: $orange; }
				}

			}
			@include breakpoint(tablet) { margin-right: 20px;
				li { margin-right: 7px;
					a { width: 10px; height: 10px; }
				}
			}
		}
	}
}

.section-title {
	&:not([class*="mb"]) { margin-bottom: 90px; }

	* {
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(tablet2) {
		&:not([class*="mb"]) { margin-bottom: 50px; }
	}
}


.com_line-title { position: relative; padding-bottom: 10px;
	&:after { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; max-width: 232px; border-bottom: 2px solid $orange; }

	&[class*="col"] {
		&:after { left: 15px; }
	}
}

h1.title-simple { padding-bottom: inherit;
	&:after { display: none; }
}

.list-dot { margin-left: 20px;
	> li { list-style: disc; margin-bottom: 8px;
		&:last-child { margin-bottom: 0; }
	}
}
.list-decimal { margin-left: 20px;
	> li { list-style: decimal; margin-bottom: 8px;
		&:last-child { margin-bottom: 0; }
	}
}
.list-lower-roman { margin-left: 25px;
	> li { list-style: lower-roman; margin-bottom: 8px;
		&:last-child { margin-bottom: 0; }
	}
}

.list-column {
	> li { display: flex; margin-left: -10px; margin-right: -10px; margin-bottom: 5px;
		&:last-child { margin-bottom: 0; }
		&.d-block {
			> * { flex: 0 0 100%; max-width: 100%; }
		}

		> * { display: block; flex: 0 0 50%; max-width: 50%; padding-left: 10px; padding-right: 10px; }
	}
}

[class*="list-"] {
	&.list-mb-2 {
		> li { margin-bottom: 20px;
			&:last-child { margin-bottom: 0; }
		}
	}
}

// for accordion
.com_accordion { }
.com_accordion-title { cursor: pointer; }
.com_accordion-content { display: none; }

// for pagination
.com_pagination {
	> li { display: inline-block; vertical-align: middle; margin-left: 5px; margin-right: 5px;
		a { display: block; color: inherit; }

		&:hover {
			a { color: $orange; }
		}

		&.arrow { margin-left: 15px; margin-right: 15px;
			a { color: $orange; font-size: 30px; }
		}

		&.active {
			a { color: inherit; font-weight: bold; cursor: default; }
		}

		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
	}
}

// for mobile dropdown
.com_mobile-dropdown { position: relative;
	.com_mobile-dropdown-title { display: none; }

	&.com_mobile-dropdown-loaded {
		.com_mobile-dropdown-title { display: block; }
		.com_mobile-dropdown-main { display: none !important; }
	}

	&.com_mobile-dropdown-active {
		.com_mobile-dropdown-title { @extend .com_mobile-dropdown-title.active; }
	}

	> select { opacity: 0; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}
.com_mobile-dropdown-title { position: relative; cursor: pointer; padding-top: 5px; padding-bottom: 8px; padding-right: 15px + 15px; color: $orange; border-bottom: 2px solid $orange; @extend h4;
	&:after { content: '\f107'; display: block; position: absolute; top: 50%; right: 0; font-family: $FontAwesome; font-weight: normal; font-size: 30px; transform: translate3d(0,-50%,0) rotate(0deg); transition: transform 0.4s; }

	&.active {
		&:after { transform: translate3d(0,-50%,0) rotate(-45deg); }
	}
}


@media (max-width: 991px) {
	[class*="col-lg"] {
		.com_mobile-scollable {
			.ab-co-box {
				&[class*="gh"] { min-height: 0 !important; }
			}
		}
	}
}

.com_mobile-scollable {
	&.com_mobile-scollable-loaded { position: relative; overflow: auto; @extend .scrolling-touch;
		@include breakpoint(tablet2) { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px;
			.container { max-width: inherit; }
		}
	}
}