.com_mobile-carousel { position: relative; overflow: hidden; padding-bottom: 20px; margin-bottom: -20px;
	&.owl-carousel { margin-left: -15px; margin-right: -15px; padding-right: 65px + 15px; padding-left: 15px;
		&.owl-loaded { }

		.owl-stage-outer { overflow: visible; }

		.owl-item { padding-bottom: 20px;
			> .item { flex: 0 0 100%; max-width: 100%; margin-bottom: 0; padding-left: 0; padding-right: 0; }
		}
	}

	@include breakpoint(xl) { padding: 20px 15px; margin: -20px -30px; }
}