// includes all tags for paragraphs and titles such as header, p, span
body { font-size: 20px; }

h1 { position: relative; padding-bottom: 18px; font-size: 53px; font-weight: bold; color: $blue;
	&:after { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; max-width: 232px; border-bottom: 2px solid $orange; }
}
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 35px; font-weight: bold; }
h5 { font-size: 25px; font-weight: bold; color: $blue; }
h6 { font-size: 0.67em; }

.fz-15 { font-size: 15px; }

.fw-bold { font-weight: bold; }

.small-caption { font-size: 13px; }

@include breakpoint(tablet) {
	body { font-size: 18px; }

	h1 { font-size: 40px; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1.17em; }
	h4 { font-size: 26px; }
	h5 { font-size: 20px; }
	h6 { font-size: 0.67em; }
}

@include breakpoint(mobile) {
	h1 { font-size: 36px; }
}