// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 1024px; // can be use as max width of the container

// for fonts
$defaultFont: 'Gilroy', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      : 'Gilroy', 'Helvetica', 'Calibri';
$FontAwesome: 'Font Awesome 5 Pro';

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #414042; // default color for the independent paragraphs, input fields, etc
$defaultLinkColor : #3189DD; // default link color for the whole site
$white            : #ffffff;
$black            : #000000;

$blue 			  : #1f45a9;
$darkBlue		  : #212345;

$orange			  : #dc8035;
$orange2		  : #f39c12;

// for margin and padding
$spaceOne   : 10px;
$spaceTwo   : 20px;
$spaceThree : 30px;
$spaceFour  : 40px;
$spaceFive  : 50px;