</section>
<footer>
	<div class="footer-content">
		<div class="footer-top">
			<div class="container container-width-3">
				<div class="row">
					<div class="col-md-5 col-sm-7">
						<div class="com_line-container no-line">
							<p class="mb2 mob-mb2"><strong>HFSE International School</strong></p>
							<ul class="com_icon-list fz-15">
								<li>
									<div class="icon"><img src="assets/img/icon_pin_circle_white.png" alt=""></div>
									<div>
										231 Mountbatten Centre <br>
										Building D Level 2, Singapore 397999
									</div>
								</li>
								<li>
									<div class="icon"><img src="assets/img/icon_phone_circle_white.png" alt=""></div>
									<div>
										<a class="link" href="tel:6564510080">+65 6451 0080</a>
									</div>
								</li>
								<li>
									<div class="icon"><img src="assets/img/icon_envelope_circle_white.png" alt=""></div>
									<div>
										<a class="link" href="mailto:excellence.hfhse@gmail.com">excellence.hfhse@gmail.com</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-7 col-sm-5">
						<div class="row justify-content-between">
							<div class="col-md-6">
								<div class="com_line-container">
									<ul class="fo-links-list">
										<li><a href="#">ABOUT US</a></li>
										<li><a href="#">HFSEAN LIFE</a></li>
										<li><a href="#">ADMISSIONS</a></li>
										<li><a href="faq.html">FAQS</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-auto mob-mt4">
								<ul class="fo-sns-list">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container container-width-3">
				<div class="row justify-content-end">
					<div class="col-md-7">
						<div class="com_par">
							<p>
								&copy; 2020 HFSE International School. All Rights Reserved. <br>
								CPE Registration No. 201541283N Registration Validity Period: 26 March 2019 - 25 March 2021
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="assets/js/lib/jquery.min.js"></script>
<script src="assets/js/lib/jquery-ui.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>