@@include('pages/header.html', {"title": "HFSE International School | Admission Requirements"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Admission Requirements</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/admissions/banner_admission_requirements.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/admissions/banner_admission_requirements.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="container container-width-5">
					<div class="com_par">
						<p>HFSE mission, vision and virtues are based on Christian teachings and we require all students to attend our Christian Living/Values Education&Language class. While all are eligible applicants regardless of nationality, culture, race or religion are welcome, it is advised that applicants and their parents should be comfortable with these school practices. Applicants seeking admission should agree to comply with these requirements and maintain strict discipline in attendance, punctuality, uniform, behavior and school work.</p>
						<ul class="list-dot list-mb-2">
							<li>Student/Parent/Guardian have read, understood, agreed to and will comply with all the requirements especially in the strict discipline of the school.</li>
							<li>Any person who smokes, drinks alcoholic beverages, uses prohibited drugs or abuse illegal substances will not be admitted.</li>
							<li>Anyone seeking admission must be of good conduct and have attendance of no less than 80% in the previous school.</li>
							<li>A student who has studied in a Singapore government or government-aided school and is seeking admission into a certain class level must have passed the previous level.</li>
							<li>A student who has not studied in a Singapore government or government-aided school previously and is seeking admission must take a placement test in Mathematics and    English and must pass both subjects before they are qualified for admission.</li>
							<li>Students who fail in one or both subject/s and intend to downgrade to a lower level will still need to sit and pass the placement test for that level.</li>
							<li>Student/Parent/Guardian will treat all information received in the application forms as private and confidential and any dissemination, distribution or duplication of such information, unless required by law or other statutory regulations is strictly prohibited and is the sole property of HFSE International School.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="section pt-0">
			<div class="container container-width-3">
				<div class="container container-width-5">
					<div class="section-title mb4 mob-mb4">
						<h1>Academic and Age Requirements</h1>
					</div>
				</div>
				<div class="com_mobile-scollable" data-columns="4">
					<div class="ab-co-box">
						<div class="container container-width-5">
							<div class="ab-co-row">
								<div class="row">
									<div class="col-3">
										<h5>Level</h5>
									</div>
									<div class="col-3">
										<h5>Completed</h5>
									</div>
									<div class="col-3">
										<h5>Year of Birth</h5>
									</div>
									<div class="col-3">
										<h5>Age</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-3">P1</div>
									<div class="col-3">Kindergarten</div>
									<div class="col-3">2013</div>
									<div class="col-3">6 to 8</div>
								</div>
								<div class="row">
									<div class="col-3">P2</div>
									<div class="col-3">P1</div>
									<div class="col-3">2012</div>
									<div class="col-3">7 to 9</div>
								</div>
								<div class="row">
									<div class="col-3">P3</div>
									<div class="col-3">P2</div>
									<div class="col-3">2011</div>
									<div class="col-3">8 to 10</div>
								</div>
								<div class="row">
									<div class="col-3">P4</div>
									<div class="col-3">P3</div>
									<div class="col-3">2010</div>
									<div class="col-3">9 to 11</div>
								</div>
								<div class="row">
									<div class="col-3">P5</div>
									<div class="col-3">P4</div>
									<div class="col-3">2009</div>
									<div class="col-3">10 to 12</div>
								</div>
								<div class="row">
									<div class="col-3">P6</div>
									<div class="col-3">P5</div>
									<div class="col-3">2009</div>
									<div class="col-3">11 to 13</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container container-width-5 mt4 mob-mt4 pt3 mob-pt0">
					<div class="row row-large align-items-center">
						<div class="col-md-6">
							<a class="button button-primary" href="#">DOWNLOAD ADMISSION GUIDELINES HERE</a>
						</div>
						<div class="col-md-6 mob-mt2 text-center">
							<div class="bp-img"><img src="assets/img/admissions/banner_admission_guidelines.jpg" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')