@@include('pages/header.html', {"title": "HFSE International School | Admission Process"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Admission Process</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/admissions/banner_admission_process.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/admissions/banner_admission_process.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-6">
				<ul class="ad-pr-list animate" anim-control="parent">
					<li>
						<div class="ho-ch-set set-2">
							<div class="ho-ch-icon icon-arrow"><img src="assets/img/admissions/icon_overview.png" alt=""></div>
							<div class="ho-ch-par">
								<h5>Overview</h5>
								<div class="d-none d-md-block">
									<p>Speak with our Admissions Officer and find out about our school policies, procedure, etc.</p>
									<div class="d-flex justify-content-end">
										<a class="button button-primary" href="#">DOWNLOAD ADMISSION GUIDELINES HERE</a>
									</div>
								</div>
							</div>
						</div>
						<div class="d-block d-md-none">
							<p>Speak with our Admissions Officer and find out about our school policies, procedure, etc.</p>
							<div class="d-flex justify-content-end">
								<a class="button button-primary" href="#">DOWNLOAD ADMISSION GUIDELINES HERE</a>
							</div>
						</div>
					</li>
					<li>
						<div class="ho-ch-set set-2">
							<div class="ho-ch-icon icon-arrow"><img src="assets/img/admissions/icon_application.png" alt=""></div>
							<div class="ho-ch-par">
								<h5>Application</h5>
								<div class="d-none d-md-block">
									<p>Fill out Online Family Information Sheet</p>
								</div>
							</div>
						</div>
						<div class="d-block d-md-none">
							<p>Fill out Online Family Information Sheet</p>
						</div>
					</li>
					<li>
						<div class="ho-ch-set set-2">
							<div class="ho-ch-icon icon-arrow"><img src="assets/img/admissions/icon_registration.png" alt=""></div>
							<div class="ho-ch-par">
								<h5>Registration</h5>
								<div class="d-none d-md-block">
									<p>Pay the Application and Assessment Fees</p>
								</div>
							</div>
						</div>
						<div class="d-block d-md-none">
							<p>Pay the Application and Assessment Fees</p>
						</div>
					</li>
					<li>
						<div class="ho-ch-set set-2">
							<div class="ho-ch-icon icon-arrow icon-arrow-2"><img src="assets/img/admissions/icon_documents_submission.png" alt=""></div>
							<div class="ho-ch-par">
								<h5>Documents Submission</h5>
								<div class="d-none d-md-block">
									<p>Submit all Admission Forms and Supporting Documents</p>
									<div class="row flex-md-row-reverse">
										<div class="col-md-6">
											<div class="row-btn-list d-block">
												<div><a class="button button-primary" href="#">Register here for AY2020</a></div>
												<div><a class="button button-primary" href="#">Register here for AY2021</a></div>
											</div>
										</div>
										<div class="col-md-6">
											<p><strong>Admission Forms:</strong></p>
											<ul class="list-dot">
												<li>Form 12 - Advisory Note to Students</li>
												<li>Medical Examination Form</li>
												<li>Online Family Information Sheet</li>
											</ul>
										</div>
									</div>
									<div class="row mt2 mob-mt2">
										<div class="col-12">
											<p><strong>Supporting Documents:</strong></p>
											<ul class="list-dot">
												<li>Applicant's Passport</li>
												<li>Applicant's Birth Certificate</li>
												<li>Applicant's Valid Pass in Singapore (e.g. DP with valid expiry details)</li>
												<li>Applicant's Educational Certificate</li>
												<li>Parent's Passport</li>
												<li>Parent's Valid Pass in Singapore (with valid expiry details)</li>
												<li>Guardian's Passport (if applicable)</li>
												<li>Guardian's Valid Pass in Singapore</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="d-block d-md-none">
							<p>Submit all Admission Forms and Supporting Documents</p>
							<div class="row flex-md-row-reverse">
								<div class="col-md-6">
									<div class="row-btn-list d-block">
										<div><a class="button button-primary" href="#">Register here for AY2020</a></div>
										<div><a class="button button-primary" href="#">Register here for AY2021</a></div>
									</div>
								</div>
								<div class="col-md-6 mob-mt2">
									<p><strong>Admission Forms:</strong></p>
									<ul class="list-dot">
										<li>Form 12 - Advisory Note to Students</li>
										<li>Medical Examination Form</li>
										<li>Online Family Information Sheet</li>
									</ul>
								</div>
							</div>
							<div class="row mt2 mob-mt2">
								<div class="col-12">
									<p><strong>Supporting Documents:</strong></p>
									<ul class="list-dot">
										<li>Applicant's Passport</li>
										<li>Applicant's Birth Certificate</li>
										<li>Applicant's Valid Pass in Singapore (e.g. DP with valid expiry details)</li>
										<li>Applicant's Educational Certificate</li>
										<li>Parent's Passport</li>
										<li>Parent's Valid Pass in Singapore (with valid expiry details)</li>
										<li>Guardian's Passport (if applicable)</li>
										<li>Guardian's Valid Pass in Singapore</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ho-ch-set set-2">
							<div class="ho-ch-icon icon-arrow"><img src="assets/img/admissions/icon_assessment_schedule.png" alt=""></div>
							<div class="ho-ch-par">
								<h5>Assessment Schedule</h5>
								<div class="d-none d-md-block">
									<p>Obtain Assessment Examination Schedule from the Admissions Officer</p>
								</div>
							</div>
						</div>
						<div class="d-block d-md-none">
							<p>Obtain Assessment Examination Schedule from the Admissions Officer</p>
						</div>
					</li>
					<li>
						<div class="ho-ch-set set-2">
							<div class="ho-ch-icon icon-arrow"><img src="assets/img/admissions/icon_assessment_schedule.png" alt=""></div>
							<div class="ho-ch-par">
								<h5>Enrolment</h5>
								<div class="d-none d-md-block">
									<p>Pay Enrolment Fees</p>
								</div>
							</div>
						</div>
						<div class="d-block d-md-none">
							<p>Pay Enrolment Fees</p>
						</div>
					</li>
					<li>
						<div class="ho-ch-set set-2">
							<div class="ho-ch-icon icon-arrow"><img src="assets/img/admissions/icon_assessment_schedule.png" alt=""></div>
							<div class="ho-ch-par">
								<h5>Contract Signing</h5>
								<div class="d-none d-md-block">
									<p>Sign Student Contract</p>
								</div>
							</div>
						</div>
						<div class="d-block d-md-none">
							<p>Sign Student Contract</p>
						</div>
					</li>
				</ul>
				<div class="com_par mt4 mob-mt4 pt5 mob-pt0">
					<h5 class="mb4">Send admission requirements and inquiries:</h5>
					<a class="link-inherit" href="mailto:admissions@hfse.edu.sg?cc=dynah.geronimo@hfse.edu.sg&subject=AY2020_LastName_First_Name_Admission Requirements">
						<p>To: admissions@hfse.edu.sg</p>
						<p>CC: dynah.geronimo@hfse.edu.sg</p>
						<p>Subject: AY2020_LastName_First_Name_Admission Requirements</p>
					</a>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')