@@include('pages/header.html', {"title": "HFSE International School | Co-Curricular Activities"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Co-Curricular Activities</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_co_curricular_activities.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_co_curricular_activities.jpg'); background-position: 20% 50%;"></div>
		</div>
		<div class="section pb-0">
			<div class="container container-width-5">
				<div class="com_par">
					<p>At HFSE, students are encouraged to discover and nurture their passion through various non-academic clubs. HFSE offers a range of co-curricular activities designed to develop the students' personality, explore their talents, develop their skills.</p>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="section-title mb4 mob-mb4">
					<h1>Pick Your Passion</h1>
				</div>
				<ul class="act-co-list list-4 com_mobile-carousel group-height">
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-icon bp-set"><img src="assets/img/hfsean-life/icon_captains_ball.png" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Captain's Ball</h4>
								<p>Primary 4 to 6</p>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary" href="#">LEARN MORE</a></div>
								<div><a class="button button-primary button-orange" href="#">ENROL NOW</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-icon bp-set"><img src="assets/img/hfsean-life/icon_dance.png" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Dance</h4>
								<p>Primary 1 to 6</p>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary" href="#">LEARN MORE</a></div>
								<div><a class="button button-primary button-orange" href="#">ENROL NOW</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-icon bp-set"><img src="assets/img/hfsean-life/icon_fundamental_movement.png" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Fundamental Movement</h4>
								<p>Primary 4 to 6</p>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary" href="#">LEARN MORE</a></div>
								<div><a class="button button-primary button-orange" href="#">ENROL NOW</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-icon bp-set"><img src="assets/img/hfsean-life/icon_gymnastics.png" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Gymnastics</h4>
								<p>Primary 1 to 3</p>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary" href="#">LEARN MORE</a></div>
								<div><a class="button button-primary button-orange" href="#">ENROL NOW</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-icon bp-set"><img src="assets/img/hfsean-life/icon_swimming.png" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Swimming</h4>
								<p>Primary 1 to 3</p>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary" href="#">LEARN MORE</a></div>
								<div><a class="button button-primary button-orange" href="#">ENROL NOW</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-icon bp-set"><img src="assets/img/hfsean-life/icon_swimming+.png" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Swimming+</h4>
								<p>Primary 4 to 6</p>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary" href="#">LEARN MORE</a></div>
								<div><a class="button button-primary button-orange" href="#">ENROL NOW</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-icon bp-set"><img src="assets/img/hfsean-life/icon_soccer.png" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Soccer</h4>
								<p>Primary 4 to 6</p>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary" href="#">LEARN MORE</a></div>
								<div><a class="button button-primary button-orange" href="#">ENROL NOW</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-icon bp-set"><img src="assets/img/hfsean-life/icon_track_and_field.png" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Track and Field</h4>
								<p>Primary 4 to 6</p>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary" href="#">LEARN MORE</a></div>
								<div><a class="button button-primary button-orange" href="#">ENROL NOW</a></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<ul class="act-pro-list">
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Teacher(s)</h4>
										<p>
											<strong>Title/Designation</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Captain's Ball</h4>
										<p>Primary 4 to 6</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_captains_ball.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Prepare Participants for upcoming event.</li>
										<li>Practice hand-eye coordination.</li>
										<li>Develop throwing ability and precision.</li>
										<li>Enhance their expertise in the sport.</li>
										<li>Enforce teamwork and coordination</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Teacher(s)</h4>
										<p>
											<strong>Title/Designation</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Dance</h4>
										<p>Primary 1 to 6</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_dance.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Underst how to isolate body parts (flexibility).</li>
										<li>Encourage enthusiasm in showcasing.</li>
										<li>Learn moves such as body popping, body locking, grooving.</li>
										<li>Improve confidence through showcasing.</li>
										<li>Prepare a performance for Moving Up Ceremony.</li>
										<li>Perform dance moves for a set of 2 to 3 min.</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Teacher(s)</h4>
										<p>
											<strong>Title/Designation</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Fundamental Movement</h4>
										<p>Primary 1 to 3</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_fundamental_movement.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Allow participants to utilise their basic motor skills.</li>
										<li>Comply to rhythm (skipping).</li>
										<li>Control body in a static position and shift weight around the body to avoid falling (balance).</li>
										<li>Run proper without falling (Locomotion).</li>
										<li>Jump and landing in a specific spot.</li>
										<li>Jump to a higher ground (plyometric).</li>
										<li>Complete all motion in one circuit.</li>
										<li>Learn safety in execution of techniques.</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Teacher(s)</h4>
										<p>
											<strong>Title/Designation</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Gymnastics</h4>
										<p>Primary 1 to 3</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_gymnastics.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Form different shapes with their body (Flexibility).</li>
										<li>Execute all 7 skills with proper techniques.</li>
										<li>Strengthen muscles to be able to carry their own body weight.</li>
										<li>Complete techniques requiring flexibility in a series of motion (Circuit).</li>
										<li>Learn safety in execution of techniques.</li>
										<li>Learn about spatial awareness.</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Teacher(s)</h4>
										<p>
											<strong>Title/Designation</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Swimming</h4>
										<p>Primary 1 to 3</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_swimming.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Swim at least one stroke.</li>
										<li>Demonstrate confidence in water without buoyancy aids.</li>
										<li>Stay afloat on water on the spot for 1 minute.</li>
										<li>Increase muscle strength required to swim.</li>
										<li>Swim 25m (if stopped, continue treading to stay afloat).</li>
										<li>Learn breathing technique to avoid choking.</li>
										<li>Understand pool and water safety.</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Teacher(s)</h4>
										<p>
											<strong>Title/Designation</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Swimming+</h4>
										<p>Primary 4 to 6</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_swimming+.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Swim all strokes provided in the programme.</li>
										<li>Demonstrate confidence in water without buoyancy aids.</li>
										<li>Able to stay afloat on water on the spot for a few minutes.</li>
										<li>Able to swim 25m (Time Bound).</li>
										<li>Understand pool and water safety.</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Teacher(s)</h4>
										<p>
											<strong>Title/Designation</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Soccer</h4>
										<p>Primary 4 to 6</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_soccer.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Understand the foot eye coordination to dribble a ball.</li>
										<li>Understand how to pass and shoot a ball with proper aim using their legs.</li>
										<li>Ability to sprint while pushing a ball forward and evading pursuer.</li>
										<li>Uncover newly found talents and passion from individuals.</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Teacher(s)</h4>
										<p>
											<strong>Title/Designation</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Track and Field</h4>
										<p>Primary 4 to 6</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_track_and_field.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Allow students to get the feel of competing in a race.</li>
										<li>Explaining the different types of event.</li>
										<li>Educating students on Utilizing Specific muscle group for each event.</li>
									</ul>

									<div class="com_par mt3">
										<h5>Track</h5>
										<ul class="list-decimal pl-md-4">
											<li>Participants will learn how to stride wider when running.</li>
											<li>Understanding the Importance of pacing so that they do not gas out before reaching finish line.</li>
										</ul>
									</div>

									<div class="com_par mt3">
										<h5>Field</h5>
										<ul class="list-decimal pl-md-4">
											<li>Proper Throwing techniques to avoid injury.</li>
											<li>Proper body posturing to allow maximum output on throws.</li>
											<li>Understanding the body capabilities.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
@@include('pages/footer.html')