@@include('pages/header.html', {"title": "HFSE International School | Downloadable Forms"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Downloadable Forms</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/admissions/banner_downloadable_forms.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/admissions/banner_downloadable_forms.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-5">
				<div class="row">
					<div class="col-md-6">
						<div class="com_par">
							<p class="mb-lg-4"><a class="link-inherit link-underline" href="#"><strong>Family Admission and Enrolment Guide</strong></a></p>
							<p class="mb-lg-4"><a class="link-inherit link-underline" href="#"><strong>Family Information Form</strong></a></p>
							<p class="mb-lg-4"><a class="link-inherit link-underline" href="#"><strong>Medical Information Form</strong></a></p>
							<p class="mb-lg-4"><a class="link-inherit link-underline" href="#"><strong>Form 12</strong></a></p>
							<p class="mb-lg-4"><a class="link-inherit link-underline" href="#"><strong>Student Update Form</strong></a></p>
							<p class="mb-lg-4"><a class="link-inherit link-underline" href="#"><strong>Absent Form</strong></a></p>
						</div>
					</div>
					<div class="col-md-6 mob-mt3">
						<div class="bp-img"><img src="assets/img/admissions/banner_downloadable_forms2.jpg" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')