@@include('pages/header.html', {"title": "HFSE International School | FAQs"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section">
			<div class="container container-width-3">
				<div class="container container-width-5">
					<div class="section-title mb4 mob-mb4">
						<h1>FAQs</h1>
					</div>
				</div>
				<ul class="com_accordion ab-co-accordion" close-others="true" open-first="false">
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">What curriculum do you use?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Text goes here</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Are you offering other language courses?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Currently, HFSE offers Filipino Language as we started with the Filipino community. In the case of any non-Filipino student who has opted not to undertake the language module, he/she must present an alternative language course taken outside of HFSE system.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Do you have student care services?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>HFSE is in partnership with Planet J Learning Centre to provide after school care services and private tutorial services. It is located at 99A Soo Chow Walk, S575384. HFSE students are entitled to a discounted rate if they opt to sign up for PJLC student care services.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Do you offer CCAs (Co-Curricular Activities)?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Our dedicated educational rock stars have been diligently preparing to introduce CCAs soon and we have already started a sports clinic. We are planning to offer more CCAs which will be optional for students in the near future.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Will my child be able to go back to the mainstream education system?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>HFSE curriculum was developed to prepare students to sit for the AEIS (Admission Exam for International Students). This initiative was implemented in order to provide more options for global migrant families living in Singapore.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">If we go to other or our home country, will my child’s education be credited?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Based on our experience, we have students who have migrated to other countries (i.e. New Zealand, Australia, Canada and Philippines) and the normal enrolment procedure is for the student to pass the entry examination offered by the prospective school of their choice in the respective country they are migrating to. HFSE will provide all necessary documents   including Transcript of Records (TOR), Report Cards, Certificate of Attendance, Certificate of Completion and Good Moral Character. In the event that additional documentation or testimonials are required by the prospective schools, HFSE will provide assistance with that as well.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Do you accept LTVP (Long Term Visit Pass) holders?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>No, as we do not have an EduTrust certification yet. However, please approach our principal for any further advice.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Can you offer assistance with applying for a Student Pass?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>HFSE is currently working on its renewal registration. There are different stages to attain the EduTrust certification which eventually will make HFSE eligible to apply for Student Pass. Our target Academic Year is 2020. This is subject to CPE approval.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Do you provide school bus service?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>HFSE has engaged the services of Sunway Transportation for our school bus requirements. Transportation fees vary from distance.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">What level do you currently offer?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>HFSE currently caters to students from Primary One to Six.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Do you have plans to expand in other locations?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Yes, we are just establishing all our systems in place. Plans for additional satellite centers are in the pipeline.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Do you have plans to offer preschool and secondary courses?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Yes, we are still doing our research and assessment to prepare our school to offer these levels. The target year in which we have in mind to launch preschool and secondary school courses is 2020.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Are you open to investment opportunities?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Definitely yes as we gear up to reach out to more families in need of affordable education. HFSE is open to all those interested to invest. If you would like to know more on how you can help HFSE continue its advocacy, please send an email of interest to our Founder & Managing Director, Ninalyn Cacananta at <a class="link" href="mailto:nina.cacananta@hfse.edu.sg">nina.cacananta@hfse.edu.sg</a></p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">Do you offer sibling discount?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Yes, we offer discount for sibling of existing student. Please contact 6451 0080 and speak with the Admissions Officer to find out more.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">How do we book for Assessment?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>Please complete the online registration at <a class="link" href="http://bit.ly/AY20HFSEassessment" target="_blank">http://bit.ly/AY20HFSEassessment</a> and email <a class="link" href="mailto:admissions@hfse.edu.sg">admissions@hfse.edu.sg</a> Registration and Assessment Fees ($400 - non-refundable and deductible from the enrolment fees) should be paid on or before the examination date.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">What subjects are covered in the Assessment?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>For P1, P2 levels, Mathematics and English are covered. For P3 and above, Mathematics, English and Filipino are covered.</p>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h5 class="ac-acc-title co-grey">How will the outcome of the Assessment affect my child’s admissions    application with HFSE?</h5>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>For student applicants following the Year of Birth requirement per Academic Year, the   outcome for each subject will be used to check the competency level of the child. Teachers may use the assessment outcome to track the child’s progress while studying in HFSE.</p>
								<p>For student’s accelerated application - (e.g. YOB is 2013, eligible only for P1 in AY2020; but parents want to try P2 level for the child)</p>
								<p>HFSE’s Academic Board will require at least 65% passing mark per subject to be accepted for the higher level application of the parents.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
@@include('pages/footer.html')