@@include('pages/header.html', {"title": "HFSE International School | HFSE Prefects"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>HFSE Prefects</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_hfse_prefects.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_hfse_prefects.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-4">
				<div class="container container-width-5">
					<div class="com_par">
						<p>HFSE believes in empowering young learners by giving them more responsibility and by allowing them to be leaders amongst their peers. Such student leaders can be empowered further by the school administration by making them prefects, who will help maintain discipline in classrooms and the whole school in general even during school events. It is in this way that the school hopes to facilitate their formation into the leaders of the future.</p>
						<p>Students in Primary 4, 5 & 6 will undergo a Student Leadership Camp where they will be assessed by their teachers and peers to determine their suitability to be students leaders of HFSE. Those chosen will be further trained on the principles of leadership once every school term.</p>
						<p>A Prefect Executive Committee (ExCo) will be formed on May 2020 and it will be composed of outstanding P6 prefects. A Head and Vice Head Prefect may be appointed by the Principal or Prefect Master/Mistress. This ExCo will be involved in planning and running the Student Leadership Camp.</p>
					</div>
					<div class="bp-img wide mob-pull-left mob-pull-right mt5 pt2 mob-pt0"><img src="assets/img/hfsean-life/banner_hfse_prefects2.jpg" alt=""></div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')