@@include('pages/header.html', {"title": "HFSE International School | HFSE Gallery"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>HFSE Gallery</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_hfse-gallery.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_hfse-gallery.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-5">
				<div class="section-title">
					<h1>HFSE on Video</h1>
				</div>
				<ul class="gal-co-list">
					<li>
						<div class="gc-li-set">
							<div class="gl-se-vid">
								<a class="com_vi-pl-btn btn-2" href="#">
									<img src="assets/img/dummy_video5.jpg" alt="">
								</a>
							</div>
							<div class="com_par">
								<h5>Testimonials Pioneers & Leaders</h5>
								<p>[ Description ]</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gc-li-set">
							<div class="gl-se-vid">
								<a class="com_vi-pl-btn btn-2" href="#">
									<img src="assets/img/dummy_video6.jpg" alt="">
								</a>
							</div>
							<div class="com_par">
								<h5>Leadership Camp</h5>
								<p>[ Description ]</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gc-li-set">
							<div class="gl-se-vid">
								<a class="com_vi-pl-btn btn-2" href="#">
									<img src="assets/img/dummy_video7.jpg" alt="">
								</a>
							</div>
							<div class="com_par">
								<h5>Family Day</h5>
								<p>[ Description ]</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="text-center text-md-right mt5 mob-mt3 pt2 mob-pt0">
					<ul class="com_pagination">
						<li class="arrow"><a href="#"><i class="fal fa-angle-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li class="arrow"><a href="#"><i class="fal fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="container container-width-5">
					<div class="section-title">
						<h1>HFSE on Photo</h1>
					</div>
				</div>
				<ul class="gal-img-list list-4 bp-img wide">
					<li><img src="assets/img/hfsean-life/gallery_photo1.jpg" alt=""></li>
					<li><img src="assets/img/hfsean-life/gallery_photo2.jpg" alt=""></li>
					<li><img src="assets/img/hfsean-life/gallery_photo3.jpg" alt=""></li>
					<li><img src="assets/img/hfsean-life/gallery_photo4.jpg" alt=""></li>
					<li><img src="assets/img/hfsean-life/gallery_photo5.jpg" alt=""></li>
					<li><img src="assets/img/hfsean-life/gallery_photo6.jpg" alt=""></li>
					<li><img src="assets/img/hfsean-life/gallery_photo7.jpg" alt=""></li>
					<li><img src="assets/img/hfsean-life/gallery_photo8.jpg" alt=""></li>
				</ul>
				<div class="text-center text-md-right mt5 mob-mt3 pt2 mob-pt0">
					<ul class="com_pagination">
						<li class="arrow"><a href="#"><i class="fal fa-angle-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li class="arrow"><a href="#"><i class="fal fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')