﻿@@include('pages/header.html', {"title": "HFSE International School | Home"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="d-sm-flex align-items-center justify-content-between">
							<div class="ml-0 ml-md-5">
								<ul class="row-btn-list">
									<li><a class="button button-primary button-white" href="#">ENQUIRY</a></li>
									<li><a class="button button-primary button-white" href="#">ENROLL NOW</a></li>
								</ul>
							</div>
							<ul class="fo-sns-list list-2 text-right mt-3 mt-sm-0">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="com_video-player bp-ab">
				<video src="assets/video/hfse-intro.mp4" autoplay loop autobuffer muted playsinline></video>
			</div>
		</div>
		<div class="section pt-0">
			<div class="container container-width-3">
				<div class="com_ho-box bd-top-none">
					<div class="row row-large align-items-center flex-xl-row-reverse">
						<div class="col-xl-6">
							<div>
								<h1 class="mb4">Welcome to HFSE <br>International School!</h1>
								<h4>HFSE is an ISA - International School for All.</h4>
							</div>
							<div class="mt5 pt8">
								<h4 class="mb2">We strongly believe that</h4>
								<h4 class="ho-sl-quote">Every Child Can Succeed, <br class="d-none d-md-block">One Happy Family at a Time.</h4>
							</div>
						</div>
						<div class="col-xl-6 col-md-8 mt-4 mt-md-5 mt-xl-0">
							<div class="com_ho-slider mob-pull-left mob-pull-right">
								<div class="flexslider car-1">
									<ul class="slides">
										<li>
											<div class="com_ho-sl-set">
												<div class="bp-img wide"><img src="assets/img/home/banner_ongoing_enrollment.jpg" alt=""></div>
												<div class="com_hs-se-par slider-animate">
													<h4>Ongoing Enrolment for AY2020 Term 3 and Term 4</h4>
													<div class="d-inline-block"><a class="button button-primary button-orange" href="#">APPLY HERE</a></div>
												</div>
											</div>
										</li>
										<li>
											<div class="com_ho-sl-set">
												<div class="bp-img wide"><img src="assets/img/home/banner_limited_slots.jpg" alt=""></div>
												<div class="com_hs-se-par slider-animate">
													<h4>Limited slots for AY2021</h4>
													<div class="d-inline-block"><a class="button button-primary button-orange" href="#">Register Here</a></div>
												</div>
											</div>
										</li>
										<li>
											<div class="com_ho-sl-set">
												<div class="bp-img wide"><img src="assets/img/home/banner_ease_transition.jpg" alt=""></div>
												<div class="com_hs-se-par slider-animate">
													<h4>Ease your transition to continuous learning</h4>
													<div class="d-inline-block"><a class="button button-primary button-orange" href="#">LEARN MORE</a></div>
												</div>
											</div>
										</li>
										<li>
											<div class="com_ho-sl-set">
												<div class="bp-img wide"><img src="assets/img/home/banner_invade_the_lab.jpg" alt=""></div>
												<div class="com_hs-se-par slider-animate">
													<h4>Invade the Thinking Lab</h4>
													<div class="d-inline-block"><a class="button button-primary button-orange" href="#">ENROLL HERE</a></div>
												</div>
											</div>
										</li>
										<li>
											<div class="com_ho-sl-set">
												<div class="bp-img wide"><img src="assets/img/home/banner_conquer_stage.jpg" alt=""></div>
												<div class="com_hs-se-par slider-animate">
													<h4>Conquer the Stage</h4>
													<div class="d-inline-block"><a class="button button-primary button-orange" href="#">ENROLL HERE</a></div>
												</div>
											</div>
										</li>
										<li>
											<div class="com_ho-sl-set">
												<div class="bp-img wide"><img src="assets/img/home/banner_embrace_culture.jpg" alt=""></div>
												<div class="com_hs-se-par slider-animate">
													<h4>Embrace Arts &amp; Culture</h4>
													<div class="d-inline-block"><a class="button button-primary button-orange" href="#">ENROLL HERE</a></div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-4">
				<div class="section-title">
					<h1>Why choose HFSE?</h1>
				</div>
				<ul class="ho-ch-list list-push-left com_mobile-carousel">
					<li class="item">
						<div class="ho-ch-set">
							<div class="ho-ch-icon"><img src="assets/img/home/icon_international_school_for_all.png" alt=""></div>
							<div class="ho-ch-par">
								<h4>International School for All</h4>
								<p>Being the first Filipino-run school in Singapore, HFSE warmly welcomes all international students of all cultures, ethnicities, and background.</p>
								<p>Medium of instruction at HFSE is English. Although the Mother Tongue Language course is Filipino, Mandarin Classes are also available for enrolment. We have partnered with inlingua, a trusted language centre since 1972, to further equip our students.</p>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="ho-ch-set">
							<div class="ho-ch-icon"><img src="assets/img/home/icon_integrated_curriculum.png" alt=""></div>
							<div class="ho-ch-par">
								<h4>Integrated Curriculum</h4>
								<p>HFSE uses a self-developed integrated curriculum adopting Singapore Mathematics, Science, and English. Courses on Languages, Social Studies, Arts, Values Education, Christian Living are integrated into the school programme.</p>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="ho-ch-set">
							<div class="ho-ch-icon"><img src="assets/img/home/icon_robust_programme.png" alt=""></div>
							<div class="ho-ch-par">
								<h4>Robust CCA Programme</h4>
								<p>HFSE offers a range of co-curricular activities designed to develop the students' personality, explore their talents, develop their skills. CCA Clubs include Arts, Music, Dance, Theatre, Information Technology, Home Economics, Horticulture, Religion.</p>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="ho-ch-set">
							<div class="ho-ch-icon"><img src="assets/img/home/icon_commitment_to_excellence.png" alt=""></div>
							<div class="ho-ch-par">
								<h4>Commitment to Excellence</h4>
								<p>HFSE commits to the pursuit of excellence hence we always give our best in every endeavour we find ourselves in. We embody values of resilience, discipline, faith, hope, love, trust, respect, and commitment as we individually and collaboratively work on our mission and goals.</p>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="ho-ch-set">
							<div class="ho-ch-icon"><img src="assets/img/home/icon_strong_school_spirit.png" alt=""></div>
							<div class="ho-ch-par">
								<h4>Strong School Spirit</h4>
								<p>To foster community spirit and strengthen a culture of positive discipline and learning, HFSE organises exciting events each year students and parents get to enjoy.</p>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="ho-ch-set">
							<div class="ho-ch-icon"><img src="assets/img/home/icon_solid_support_system.png" alt=""></div>
							<div class="ho-ch-par">
								<h4>Solid Support System</h4>
								<p>HFSE believes  that a strong support system is integral to child's success. Hence, we have created parent-support groups, engaged committed partners to mentor your students, and devised nurturing learning sessions for families.</p>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="ho-ch-set">
							<div class="ho-ch-icon"><img src="assets/img/home/icon_passionate_faculty_and_staff.png" alt=""></div>
							<div class="ho-ch-par">
								<h4>Passionate Faculty and Staff</h4>
								<p>HFSE is not just an educational institution. We are a family of loving, caring, and driven individuals who believe that learning is a lifelong commitment that  goes beyond the premises of the classrooms. Our happy family includes qualified educators and dedicated staff who are committed to equipping our students with a solid academic, social, and emotional foundation to prepare them for the future.</p>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="ho-ch-set">
							<div class="ho-ch-icon"><img src="assets/img/home/icon_conducive_learning_environment.png" alt=""></div>
							<div class="ho-ch-par">
								<h4>Conducive Learning Environment</h4>
								<p>Aside from providing air conditioned rooms for conducive learning, our students can enjoy experiential education and outdoor activities at using the common facilities in Mountbatten Centre and several community centres.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="com_ho-box">
					<div class="container container-width-4">
						<div class="section-title">
							<h1>HFSEAN Parents' Testimonials</h1>
						</div>
						<div class="com_video-player mob-pull-left mob-pull-right">
							<img src="assets/img/dummy_video.jpg" alt="">
							<div class="com_vi-pl-btn"></div>
						</div>
						<div class="ho-co-col">
							<div class="row row-small align-items-center">
								<div class="col-lg-6">
									<div class="bp-img wide"><img src="assets/img/home/banner_testimonial1.jpg" alt=""></div>
								</div>
								<div class="col-lg-6 mt-4 mt-md-5 mt-lg-0">
									<div class="com_ho-slider">
										<div class="flexslider car-1">
											<ul class="slides">
												<li>
													<div class="ho-tes-set">
														<p>The teachers are helping her. I could see that they are overseeing her personally. That's what every parent needs when they put their children in a school. Here, especially in this school, she gets personal attention. From not speaking anything to having chosen for public speaking, I think that's a big improvement. That's only because of the teachers. The regular way of molding and shaping the students.</p>
														<p class="text-md-right">- Mrs. Kripa Jackson, Mom of Leah</p>
													</div>
												</li>
												<li>
													<div class="ho-tes-set">
														<p>What I personally love are the activities beyond the academics. That is where you really polish the abilities, the camaraderie of the kids. They learned so much more from these activities. The quality of care, the degree of care that I have seen from the teachers, from everybody,  is something that you could say that we're on the right school.</p>
														<p class="text-md-right">- Mrs. Jane Robediso, Mom of Gavin</p>
													</div>
												</li>
												<li>
													<div class="ho-tes-set">
														<p>Because HFSE recognizes the uniqueness of each child, they provide many avenues for all kids to showcase what he or she can do. It continuously finds ways to challenge our son, and us, out of our comfort zones. We value the open lines of communication and partnership between our home and the school. At HFSE, we receive the support we need in raising happy kids and in building a strong family, not just from the teachers and staff, but from the  growing network of happy families.</p>
														<p class="text-md-right">- Mrs. Apple Obias, Mom of Higgs</p>
													</div>
												</li>
												<li>
													<div class="ho-tes-set">
														<p>Thanks for the advice from the teachers and I am pleased that they are more focused on the overall well being of every child rather than their academic standing.</p>
														<p class="text-md-right">- Mrs. Shirley Eugenio, Mom of Mary</p>
													</div>
												</li>
												<li>
													<div class="ho-tes-set">
														<p>Good improvement seen in my son with regard to reading, problem solving and socialising with other kids, improvement in his self confidence. To all the teachers, we really appreciate it so much and we are very grateful for the positive outcome in our son.</p>
														<p class="text-md-right">- Mrs. Fhili Aldea, Mom of Mark</p>
													</div>
												</li>
												<li>
													<div class="ho-tes-set">
														<p>Teachers are willing to share their time and feedback openly to parents and students. Going to HFSE International is like a reunion with family. We always feel everyone's warmth.</p>
														<p class="text-md-right">- Mrs. Edlyn Sioco, Mom of Karlyn</p>
													</div>
												</li>
												<li>
													<div class="ho-tes-set">
														<p>Continue to be supportive and understanding to all students because each student has their own unique personality that needs guidance. Thank you and salute to all the HFSE staff.</p>
														<p class="text-md-right">- Mrs. Melanie Reyes, Mom of Raphael</p>
													</div>
												</li>
												<li>
													<div class="ho-tes-set">
														<p>Passionate and dedicated team. Good values formation for the kids. Happy environment. HFSE is heaven-sent for us. True to its core vision and values of keeping families together and building one happy family at a time. The team's passion and dedication is exceptional. They have built a good environment where kids not only learn but have fun as well. Kudos to Ms. Nina and the rest of the HFSE team.</p>
														<p class="text-md-right">- Mrs. Jean Deleverio, Mom of Maxene</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="row row-large">
					<div class="col-md-7">
						<div class="section-title mb5">
							<h1>Monthly Calendar of Events</h1>
						</div>
						<div>
							<img src="assets/img/google_calendar.jpg" alt="">
						</div>
					</div>
					<div class="col-md-5 mob-mt4">
						<div class="section-title mb5">
							<h1>HFSE on Videos</h1>
						</div>
						<ul class="ho-vid-list com_mobile-carousel">
							<li class="item">
								<div class="hv-li-set">
									<a class="com_vi-pl-btn btn-2" href="#"><img src="assets/img/dummy_video2.jpg" alt=""></a>
									<div>
										<h5>HFSE on TV Patrol</h5>
									</div>
								</div>
							</li>
							<li class="item">
								<div class="hv-li-set">
									<a class="com_vi-pl-btn btn-2" href="#"><img src="assets/img/dummy_video3.jpg" alt=""></a>
									<div>
										<h5>2019 HFSE Leadership Camp</h5>
									</div>
								</div>
							</li>
						</ul>
						<div class="text-right mt2">
							<a class="link-arrow fw-bold" href="#">See More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section pb-0">
			<div class="container">
				<div class="com_ho-box pt5 pb5 bd-bottom-none">
					<div class="container container-width-3">
						<div class="row align-items-center">
							<div class="col-lg-7">
								<div class="section-title mb4">
									<h1>Discover more about <br>HFSE International School</h1>
								</div>
								<p>Send us a message and we will get back to you soon.</p>
							</div>
							<div class="col-lg-5 mt-4 mt-lg-0">
								<div class="ho-co-form">
									<div class="form-group">
										<input class="form-control" type="text" name="" value="" placeholder="Name">
									</div>
									<div class="form-group">
										<input class="form-control" type="text" name="" value="" placeholder="Email">
									</div>
									<div class="form-group">
										<input class="form-control" type="text" name="" value="" placeholder="Contact Number">
									</div>
									<div class="form-group">
										<textarea class="form-control" name="" id="" cols="0" rows="0" placeholder="Message"></textarea>
									</div>
									<div class="form-group mt4">
										<button class="button button-primary">SUBMIT</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')