@@include('pages/header.html', {"title": "HFSE International School | Languages"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Languages</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_language_class.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_language_class.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-4">
				<div class="com_video-player mob-pull-left mob-pull-right">
					<img src="assets/img/dummy_video4.jpg" alt="">
					<div class="com_vi-pl-btn"></div>
				</div>
				<div class="container container-width-5 mt5 pt3 mob-pt0">
					<div class="com_par">
						<p>Learning Mandarin is easier than you think.</p>
						<p>Did you know that in Mandarin Language, there are no verbs, plurals, tenses, conjugations or other simple grammars? Learning the language is not as hard as you think.</p>
						<p>Since young children have brains that are highly receptive to learning and adaptation, now is the ideal time to let them achieve Mandarin fluency.</p>
						<p>Enrol your child to our Mandarin Language Class! We have partnered with Inlingua School of Languages in Singapore, an Edutrust private institution established in 1972.</p>
					</div>
					<div class="d-flex justify-content-center text-center mt5">
						<a class="button button-primary" href="#">ENROL HERE</a>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')