@@include('pages/header.html', {"title": "HFSE International School | Learning Support &amp; Enrichment Programmes"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Learning Support &amp; Enrichment Programmes</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_learning_support_and_enrichment_programmes4.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_learning_support_and_enrichment_programmes4.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-4">
				<div class="com_mobile-dropdown">
					<ul class="ab-tab-list com_mobile-dropdown-main group-height" carousel-type="2">
						<li class="item col-md-4">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes.html">
								<h4>Bridging Programme</h4>
							</a>
						</li>
						<li class="item col-md-4">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes-embracing-arts-and-culture.html">
								<h4>Enrichment Classes</h4>
							</a>
						</li>
						<li class="item col-md-4 active">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes_learn_as_your_child_earns.html">
								<h4>Learn As Your Child Learns</h4>
							</a>
						</li>
					</ul>
				</div>
				<div class="container container-width-5 mt5 pt3 mob-pt0">
					<div class="com_par">
						<h5>Volunteer Opportunities</h5>
						<p>HFSE International School believes that both the parents and the school play an essential role in a child's holistic growth and development. A solid collaboration between the two provides a safe and nurturing environment for the students.</p>
						<p>Thus, we would like to invite you to join Partners For Excellence (P4E), a parent support group from existing happy families who strongly share in HFSE's advocacy that "every child can succeed, one happy family at a time."</p>
						<br>
						<h5>As a P4E member, you will</h5>
						<ul class="list-dot pl-md-4">
							<li>Actively engage in various school events and activities.</li>
							<li>Act as a communication link between HFSE and the fellow parents providing support to both parties.</li>
							<li>Initiate projects that can contribute in the child's character building and values education.</li>
							<li>Help the school in creating a harmonious environment by promoting respect and open  communication while soliciting constructive feedback.</li>
							<li>Attend all related meetings, events, and activities.</li>
							<li>Serve as an ambassador in positively representing and promoting HFSE to the outside community.</li>
						</ul>
						<br>
						<h5>How do I join?</h5>
						<p>Your commitment and generosity in sharing your time and expertise will truly contribute in strengthening HFSE's happy family and enhancing your child's learning journey.</p>
						<p>If you wish to partner with us through P4E, <a href="tel:91094468">please contact Ms. Lucille at  9109 4468</a>.</p>
					</div>
					<div class="text-center mt5">
						<img src="assets/img/hfsean-life/logo_partner_of_excellence.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')