@@include('pages/header.html', {"title": "HFSE International School | Learning Support &amp; Enrichment Programmes"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Learning Support &amp; Enrichment Programmes</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_learning_support_and_enrichment_programmes.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_learning_support_and_enrichment_programmes.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-4">
				<div class="com_mobile-dropdown">
					<ul class="ab-tab-list com_mobile-dropdown-main group-height" carousel-type="2">
						<li class="item col-md-4 active">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes.html">
								<h4>Bridging Programme</h4>
							</a>
						</li>
						<li class="item col-md-4">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes-embracing-arts-and-culture.html">
								<h4>Enrichment Classes</h4>
							</a>
						</li>
						<li class="item col-md-4">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes_learn_as_your_child_earns.html">
								<h4>Learn As Your Child Learns</h4>
							</a>
						</li>
					</ul>
				</div>
				<div class="container container-width-5 mt5 pt3 mob-pt0">
					<div class="com_par">
						<p>To assist new students in facing the academic challenges in HFSE and to ease their transition into adapting a new curriculum, an intensive bridging programme is offered.</p>
						<p>New students who are unable to enrol or attend classes by 13 April 2019 are required to attend the Bridging Programme.</p>
					</div>
					<div class="bp-img wide mt5 mb5 mob-pull-left mob-pull-right"><img src="assets/img/hfsean-life/banner_bridging_programme.jpg" alt=""></div>
					<div class="d-flex justify-content-center text-center mt5">
						<a class="button button-primary" href="#">ENROL HERE</a>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')