@@include('pages/header.html', {"title": "HFSE International School | Learning Support &amp; Enrichment Programmes"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Learning Support &amp; Enrichment Programmes</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_learning_support_and_enrichment_programmes_enrichment_classes.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_learning_support_and_enrichment_programmes_enrichment_classes.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-4">
				<div class="com_mobile-dropdown">
					<ul class="ab-tab-list com_mobile-dropdown-main group-height" carousel-type="2">
						<li class="item col-md-4">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes.html">
								<h4>Bridging Programme</h4>
							</a>
						</li>
						<li class="item col-md-4 active">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes-embracing_arts_and_culture.html">
								<h4>Enrichment Classes</h4>
							</a>
						</li>
						<li class="item col-md-4">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes_learn_as_your_child_earns.html">
								<h4>Learn As Your Child Learns</h4>
							</a>
						</li>
					</ul>
				</div>
				<div class="container container-width-5 mt5 pt3 mob-pt0">
					<div class="com_par">
						<p>Is your son interested in Sports, Arts, Journalism? Does your daughter have a natural gift for singing, a flair for writing, or a surprising love for mathematics? Can't make up your mind which classes to sign up in?  Send your child to our enrichment classes. See below for details.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section pt-0">
			<div class="container container-width-2">
				<div class="section-title mb4 mob-mb4">
					<h1>Pick Your Passion</h1>
				</div>
				<ul class="act-co-list list-4 justify-content-center com_mobile-carousel group-height">
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-banner"><img src="assets/img/hfsean-life/banner_embracingg_arts_and_culture.jpg" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Embracing Arts and Culture</h4>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary button-orange" href="learning-support-and-enrichment-programmes-embracing-arts-and-culture.html">LEARN MORE</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-banner"><img src="assets/img/hfsean-life/banner_conquering_the_stage.jpg" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Conquering the Stage</h4>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary button-orange" href="learning-support-and-enrichment-programmes-conquering-the-stage.html">LEARN MORE</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-banner"><img src="assets/img/hfsean-life/banner_invading_the_thinking_lab.jpg" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Invading the Thinking Lab</h4>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary button-orange" href="learning-support-and-enrichment-programmes-invading-the-thinking-lab.html">LEARN MORE</a></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="section pt-0">
			<div class="container container-width-2">
				<ul class="act-pro-list">
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Jill Linzagan</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Arts & Crafts</h4>
										<p>Ages 6 - 12</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_arts_and_crafts.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Enhance the inner creativity and resourcefulness of the kids.</li>
										<li>To understand how to apply these learnings to day to day activity.</li>
									</ul>

									<div class="com_par mt3">
										<h5>Content overview</h5>
										<ul class="list-dot pl-md-4">
											<li>Theme-based Scrap booking</li>
											<li>Invitation making</li>
											<li>Arts and Crafts with 3R application: Reduce, Reuse, Recycle</li>
											<li>DIY home and party decorations</li>
										</ul>
									</div>

									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Eemanueil Tan</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Creative Writing</h4>
										<p>Ages 6 - 12</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_creative_writing.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>-</li>
										<li>-</li>
									</ul>

									<div class="com_par mt3">
										<h5>Content overview</h5>
										<ul class="list-dot pl-md-4">
											<li>-</li>
											<li>-</li>
											<li>-</li>
											<li>-</li>
										</ul>
									</div>

									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Myra Bandagoso</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Home Economics</h4>
										<p>Ages 6 - 12</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_home_economics.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>To help students to prepare themselves for home and family living.</li>
										<li>To provide certain experiences and close encounters with the basic skills in life.</li>
										<li>To appreciate the value of eating nutritious foods.</li>
										<li>To learn copious amount of patient.</li>
										<li>To develop personal creativity, find and build students' self confidence.</li>
										<li>Developing fine motor skill, eye hand coordination and even concepts of math and science.</li>
									</ul>

									<div class="com_par mt3">
										<h5>Content overview</h5>
										<ul class="list-dot pl-md-4">
											<li>Introduction to Cooking</li>
											<li>Introduction to Sewing /Sewing Tools  and Terms</li>
											<li>Basic Cooking Terms and Basic Food Safety and Sanitation</li>
											<li>Sewing Basics 1</li>
											<li>Food Planning</li>
											<li>Sewing Basics 2</li>
											<li>Pre-prepared snacks to be packed in School</li>
											<li>Sewing Buttons</li>
											<li>Table Arrangement/ Table Manner and Etiquette</li>
											<li>Sewing Buttons Practice</li>
											<li>Prepare whole day Meal and dessert</li>
											<li>Creative Ideas To Make Old Clothes and Save Your Money</li>
											<li>Make Your Own Recipe Book</li>
										</ul>
									</div>

									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Thea Adap</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">GEAR: Growing in Excellence through Arts and Reading</h4>
										<p>Ages 3 - 6</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_art_and_reading.png" alt=""></div>
								</div>
								<div class="com_par mt3">
									<p>It was not long ago that arts education in schools was thought to be a luxury, and arts classes were cut from the curriculum to make room for more time to prepare for standardised tests. Currently, there is more and more information available that shows how crucial arts integration is to creating well-rounded, well-prepared learners and leaders.</p>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Develop creative problem-solving skills as they work through arts.</li>
										<li>Understand difficult concepts by presenting it visually making them easier.</li>
										<li>Enhance the following skills: motor, language, social, decision-making, risk-taking and inventiveness through art instruction.</li>
										<li>Integrate and connect classroom culture with the wider world.</li>
									</ul>

									<div class="com_par mt3">
										<h5>Content overview</h5>
										<ul class="list-dot pl-md-4">
											<li>Storytelling</li>
											<li>Game / Sensory Play</li>
											<li>Art Activity</li>
											<li>Music and Movement</li>
										</ul>
									</div>

									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Josh Tambio</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Panitikan, Sagisag, Sining, at Tahanan: Psst! Pinoy Ako (Beginners)</h4>
										<p>Ages 6 - 12</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/banner_pinoy_ako.png" alt=""></div>
								</div>
								<div class="com_par mt3">
									<p>Mabuhay! Ang "psst" ay natatangi sa ating mga Filipino… ito ay slang ng salitang Ingles na "hey". Ginagamit ito upang makatawang ng pansin. Ito ang isa sa kaisipan ng may-akda, tawagin ang pansin ng mga nagnanais na alamin ang mayamang kasaysayan nating mga Fipino…nating mga Pinoy! </p>
									<p>Ito ay isang mungkahing programa sa pagtugon sa pangangailangan ng mga kabataang Filipino dito sa Singapore na may kinalaman sa Wika, Kultura at Pamilya. Layunin nito na epektibong ipaintindi sa mga mag-aaral ang bawat paksa at aralin gamit ang mga malikhaing uri ng pagtalakay. Bagamat bahagi ay hindi lamang mga teknikal na aspeto na Filipino bilang wika ang gagawing pagtalakay kung higit na bibigayang pansin ang sining na pakikipagtalastasan.</p>
								</div>
								<div class="mt4">
									<h5>Content objectives</h5>
									<ul class="list-dot pl-md-4">
										<li>Epektibong maipaliwanag sa mga mag-aaral ang kahalagahan ng pag-aaral ng Wikang Filipino</li>
										<li>Maintindihan ang ibat-ibang aspeto ng pag-aaral ng Wikang Filipino</li>
										<li>Nakikilala ang mga sagisag na nagpapakilala sa bansa</li>
										<li>Natutukoy ang mga sagisag ng bansa</li>
										<li>Nailalarawan ang iba't ibang sagisag ng bansa</li>
										<li>Makita ang iba't-ibang Likhang Sining ng Pilipinas</li>
										<li>Mapag-aralan at maunawaan ang kahalagan at kasaysayan</li>
										<li>Maunawaan ang kahalagahan ng pamilya at lipunan</li>
										<li>Mga kasapi ng pamilya at pamayanan</li>
									</ul>
									
									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
@@include('pages/footer.html')