@@include('pages/header.html', {"title": "HFSE International School | Learning Support &amp; Enrichment Programmes"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Learning Support &amp; Enrichment Programmes</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_learning_support_and_enrichment_programmes_enrichment_classes2.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_learning_support_and_enrichment_programmes_enrichment_classes2.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-4">
				<div class="com_mobile-dropdown">
					<ul class="ab-tab-list com_mobile-dropdown-main group-height" carousel-type="2">
						<li class="item col-md-4">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes.html">
								<h4>Bridging Programme</h4>
							</a>
						</li>
						<li class="item col-md-4 active">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes-embracing-arts-and-culture.html">
								<h4>Enrichment Classes</h4>
							</a>
						</li>
						<li class="item col-md-4">
							<a class="at-li-set gh1" href="learning-support-and-enrichment-programmes_learn_as_your_child_earns.html">
								<h4>Learn As Your Child Learns</h4>
							</a>
						</li>
					</ul>
				</div>
				<div class="container container-width-5 mt5 pt3 mob-pt0">
					<div class="com_par">
						<p>Is your son interested in Sports, Arts, Journalism? Does your daughter have a natural gift for singing, a flair for writing, or a surprising love for mathematics? Can't make up your mind which classes to sign up in?  Send your child to our enrichment classes. See below for details.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section pt-0">
			<div class="container container-width-2">
				<div class="section-title mb4 mob-mb4">
					<h1>Pick Your Passion</h1>
				</div>
				<ul class="act-co-list list-4 justify-content-center com_mobile-carousel group-height">
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-banner"><img src="assets/img/hfsean-life/banner_embracingg_arts_and_culture.jpg" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Embracing Arts and Culture</h4>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary button-orange" href="learning-support-and-enrichment-programmes-embracing-arts-and-culture.html">LEARN MORE</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-banner"><img src="assets/img/hfsean-life/banner_conquering_the_stage.jpg" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Conquering the Stage</h4>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary button-orange" href="learning-support-and-enrichment-programmes-conquering-the-stage.html">LEARN MORE</a></div>
							</div>
						</div>
					</li>
					<li class="item">
						<div class="act-co-set gh1">
							<div class="act-co-banner"><img src="assets/img/hfsean-life/banner_invading_the_thinking_lab.jpg" alt=""></div>
							<div class="com_par gh2 mt4">
								<h4 class="co-blue mb15">Invading the Thinking Lab</h4>
							</div>
							<div class="row-btn-list d-block mt4">
								<div><a class="button button-primary button-orange" href="learning-support-and-enrichment-programmes-invading-the-thinking-lab.html">LEARN MORE</a></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="section pt-0">
			<div class="container container-width-2">
				<ul class="act-pro-list">
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Medelyn Azucena</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Guitar Lessons</h4>
										<p>Ages 6 - 12</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_guitar_lessons.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<div class="pl-md-4">
										<p>At the end of the lesson, the students will be able to read the basic chords and play a simple song.</p>
									</div>
									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">Sulo Naidu</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Journalism</h4>
										<p>Ages 6 - 12</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_journalism.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>To encourage the ability to write, take photos, and put content online.</li>
										<li>To introduce the use of a free online blog platform.</li>
										<li>To allow the exploration of the skill of doing simple layouts for the PDF versions making use of Scribus, the free and open source layout appliciton available for Windows, macOS, and Linux.</li>
									</ul>

									<div class="com_par mt3">
										<h5>Content overview</h5>
										<ul class="list-dot pl-md-4">
											<li>Students will be encouraged to distinguish between fact and opinion.</li>
											<li>They will be able to craft their own editorial piece by doing relevant research and conducting an interview.</li>
											<li>They will be able to handle a camera equipment and its support accessories and learn the essential principles and elements of good composition, lighting, and framing.</li>
											<li>They will learn to edit images/videos and put together all elements for content.</li>
										</ul>
									</div>

									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">John Sulit</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Street Dance</h4>
										<p>Ages 6 - 12</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_street_dance.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>Learn the foundations of Street Dance.</li>
										<li>Develop their talents, physical health, cognitive and social skills.</li>
										<li>Learn the values of commitment, perseverance, patience, endurance, discipline, among others.</li>
										<li>Improve their level of confidence.</li>
										<li>Appreciate social activities.</li>
										<li>Develop their focus and self-confidence.</li>
										<li>Have a fun and memorable school break.</li>
									</ul>

									<div class="com_par mt3">
										<h5>Content overview</h5>
										<ul class="list-dot pl-md-4">
											<li>Locking</li>
											<li>Popping</li>
											<li>Hip Hop</li>
											<li>House</li>
										</ul>
									</div>

									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="act-pro-set">
							<div class="col-small">
								<div class="d-flex d-md-block align-items-center text-md-right">
									<div class="act-pro-img bp-set mr-3 mr-md-0">
										<img src="assets/img/hfsean-life/banner_profile.jpg" alt="">
									</div>
									<div class="com_par mt3 mob-mt0">
										<h4 class="co-blue">John Sulit</h4>
										<p>
											<strong>Instructor</strong> <br>
											Description
										</p>
									</div>
								</div>
							</div>
							<div class="mob-mt3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="com_par">
										<h4 class="mb15 co-blue">Voice Lessons</h4>
										<p>Ages 3 - 6</p>
									</div>
									<div class="act-co-icon"><img src="assets/img/hfsean-life/icon_voice_lessons.png" alt=""></div>
								</div>
								<div class="mt4">
									<h5>Objectives</h5>
									<ul class="list-decimal pl-md-4">
										<li>To boost confidence and self-esteem.</li>
										<li>To overcome stage fright.</li>
										<li>To sharpen their ability to communicate and to express themselves.</li>
										<li>Use the ‘natural voice' in singing.</li>
									</ul>

									<div class="com_par mt3">
										<h5>Content overview</h5>
										<ul class="list-dot pl-md-4">
											<li>Tone Exercise</li>
											<li>Voice Placement</li>
											<li>Stage Performance</li>
											<li>Polishing</li>
											<li>Short Spiels</li>
										</ul>
									</div>

									<div class="d-flex mt5 pl-md-4">
										<a class="button button-primary button-orange" href="#">ENROL NOW</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
@@include('pages/footer.html')