@@include('pages/header.html', {"title": "HFSE International School | Other Services"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Other Services</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_other_services.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_other_services.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<ul class="com_accordion ab-co-accordion" close-others="true" open-first="false">
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Partner School-Care</h4>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>HFSE International School has enlisted a new partner for after-school care. KJEM Brilliant Kidz is an educational support service founded by HFSEan parents.</p>
								<p>For details, please keep in touch with KJEM.</p>
								<br>
								<p><strong>KJEM Brilliant Kidz</strong></p>
								<ul class="com_icon-list">
									<li class="align-items-start">
										<div class="icon"><img src="assets/img/about/icon_pin.png" alt=""></div>
										<div>
											<p>
												987 Soo Chow Walk Upper Thomson <br>
												Singapore 575383 <br>
												(3 mins walk from Upper Thomson MRT)
											</p>
										</div>
									</li>
									<li>
										<div class="icon"><img src="assets/img/about/icon_phone.png" alt=""></div>
										<div>
											<p><a class="link-inherit" href="tel:96507205">9650 7205</a> / <a class="link-inherit" href="tel:98172806">9817 2806</a></p>
										</div>
									</li>
									<li>
										<div class="icon"><img src="assets/img/about/icon_mail.png" alt=""></div>
										<div>
											<p><a class="link-inherit" href="mailto:info@kjembrilliantkidz.com">info@kjembrilliantkidz.com</a></p>
										</div>
									</li>
									<li>
										<div class="icon"><img src="assets/img/about/icon_web.png" alt=""></div>
										<div>
											<p><a class="link-inherit" href="https://kjembrilliantkidz.com/" target="_blank">https://kjembrilliantkidz.com/</a></p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Partner Transport Provider</h4>
						</div>
						<div class="com_accordion-content">
							<div class="com_par">
								<p>HFSE International School has partnered with Sunway Transportation Service since 2016 to send students and pick them up from school. Owned by Madam Loo, Sunway makes our  student's safety and convenience a priority.</p>
								<p>To find more about out Transportation Partner, please refer to the contact information below:</p>
								<ul class="com_icon-list mt2 mb2">
									<li>
										<div class="icon"><img src="assets/img/about/icon_pin.png" alt=""></div>
										<div>
											<p>
												Blk 101 Woodlands Street 13 #05-26 <br>
												Singapore 730101
											</p>
										</div>
									</li>
									<li>
										<div class="icon"><img src="assets/img/about/icon_phone.png" alt=""></div>
										<div>
											<p><a class="link-inherit" href="tel:97380809">9738 0809</a></p>
										</div>
									</li>
								</ul>
								<p>Should you have questions about the transportation arrangements, kindly call Ms. Lucille Arellano at <a class="link-inherit" href="tel:64510080">6451 0080</a>.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
@@include('pages/footer.html')