@@include('pages/header.html', {"title": "HFSE International School | Our Happy Home"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Our Happy Dream Team</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/about/banner_our_happy_home.jpg');"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/about/banner_our_happy_home.jpg');"></div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="row">
					<div class="col-md-6">
						<div class="ab-par-push">
							<h1 class="mb-0 title-simple">Mountbatten Centre:</h1>
							<h4 class="mb-0 co-blue">Primary Levels 1 to 3</h4>
						</div>
					</div>
				</div>
				<div class="row mt2 mob-mt2">
					<div class="col-md-6">
						<div class="ab-par-push">
							<div class="ab-par-pull">
								<ul class="com_icon-list list-3 co-blue">
									<li class="align-items-start align-items-md-center">
										<div class="icon"><img src="assets/img/about/icon_pin_blue.png" alt=""></div>
										<div>
											<p>
												231 Mountbatten Road, Block D #02-01 <br>
												Mountbatten Centre, Singapore 397999
											</p>
										</div>
									</li>
									<li>
										<div class="icon"><img src="assets/img/about/icon_phone_blue.png" alt=""></div>
										<div>
											<p>
												<a href="tel:6564510080">+65 6451 0080</a>
											</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="com_par pr3 mob-pr0 mt5 mob-mt3">
								<p>Our Enrichment and Preparatory Centre is located within the Mountbatten Centre, a property which houses various commercial schools, preschools, and businesses.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mob-mt2">
						<div class="row row-small mob-row-small">
							<div class="col-6"><img src="assets/img/about/banner_home1.jpg" alt=""></div>
							<div class="col-6"><img src="assets/img/about/banner_home2.jpg" alt=""></div>
						</div>
					</div>
				</div>
				<div class="row group-height mt4">
					<div class="col-lg-6 mb-3 mb-lg-0">
						<div class="com_mobile-scollable" data-columns="3">
							<div class="ab-co-box gh1">
								<div class="ab-co-row">
									<div class="row">
										<div class="col-4">
											<h5>Classroom Name</h5>
										</div>
										<div class="col-4">
											<h5>Classroom Size</h5>
										</div>
										<div class="col-4">
											<h5>Capacity</h5>
										</div>
									</div>
									<div class="row">
										<div class="col-4">Excellence 1</div>
										<div class="col-4">33.47 sqm</div>
										<div class="col-4">22</div>
									</div>
									<div class="row">
										<div class="col-4">Excellence 2</div>
										<div class="col-4">33.47 sqm</div>
										<div class="col-4">22</div>
									</div>
									<div class="row">
										<div class="col-4">Gratitude 1</div>
										<div class="col-4">26.32 sqm</div>
										<div class="col-4">18</div>
									</div>
									<div class="row">
										<div class="col-4">Gratitude 2</div>
										<div class="col-4">33.07 sqm</div>
										<div class="col-4">22</div>
									</div>
									<div class="row">
										<div class="col-4">Happiness 1</div>
										<div class="col-4">31.38 sqm</div>
										<div class="col-4">21</div>
									</div>
									<div class="row">
										<div class="col-4">Happiness 2</div>
										<div class="col-4">33.47 sqm</div>
										<div class="col-4">22</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="bp-img wide d-none d-md-block gh1"><img src="assets/img/about/banner_mountbatten_map.jpg" alt=""></div>
						<div class="bp-img img-scrollable pull-left pull-right pl15 pr15 d-block d-md-none"><img src="assets/img/about/banner_mountbatten_map.jpg" width="651" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="row">
					<div class="col-md-6">
						<div class="ab-par-push">
							<h1 class="mb-0 title-simple">Upper Thomson:</h1>
							<h4 class="mb-0 co-blue">Primary levels 4 to 6</h4>
						</div>
					</div>
				</div>
				<div class="row mt2 mob-mt2">
					<div class="col-md-6">
						<div class="ab-par-push">
							<div class="ab-par-pull">
								<ul class="com_icon-list list-3 co-blue">
									<li class="align-items-start align-items-md-center">
										<div class="icon"><img src="assets/img/about/icon_pin_blue.png" alt=""></div>
										<div>
											<p>
												267A Upper Thomson Road <br>
												Singapore 574394
											</p>
										</div>
									</li>
									<li>
										<div class="icon"><img src="assets/img/about/icon_phone_blue.png" alt=""></div>
										<div>
											<p>
												<a href="tel:6564521484">+65 6452 1484</a>
											</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="com_par pr3 mob-pr0 mt5 mob-mt3">
								<p>Our Primary School Campus is located in the busy street of Upper Thomson facing the Church of Holy Spirit, a few minutes walk from Thomson Plaza and two bus stops from Thomson Community Centre     establishments.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mob-mt2">
						<div class="row row-small mob-row-small">
							<div class="col-6"><img src="assets/img/about/banner_home1.jpg" alt=""></div>
							<div class="col-6"><img src="assets/img/about/banner_home2.jpg" alt=""></div>
						</div>
					</div>
				</div>
				<div class="row group-height mt4">
					<div class="col-lg-6 mb-3 mb-lg-0">
						<div class="com_mobile-scollable" data-columns="3">
							<div class="ab-co-box gh1">
								<div class="ab-co-row">
									<div class="row">
										<div class="col-4">
											<h5>Classroom Name</h5>
										</div>
										<div class="col-4">
											<h5>Classroom Size</h5>
										</div>
										<div class="col-4">
											<h5>Capacity</h5>
										</div>
									</div>
									<div class="row">
										<div class="col-4">Hope</div>
										<div class="col-4">21.6 sqm</div>
										<div class="col-4">14</div>
									</div>
									<div class="row">
										<div class="col-4">Faith</div>
										<div class="col-4">15.84 sqm</div>
										<div class="col-4">11</div>
									</div>
									<div class="row">
										<div class="col-4">Love</div>
										<div class="col-4">14.62 sqm</div>
										<div class="col-4">10</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="bp-img wide d-none d-md-block gh1"><img src="assets/img/about/banner_upper_thomson_map.jpg" alt=""></div>
						<div class="bp-img img-scrollable pull-left pull-right pl15 pr15 d-block d-md-none"><img src="assets/img/about/banner_upper_thomson_map.jpg" width="651" alt=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="section-title mb5 mob-mb4">
					<h1>Common Facilities</h1>
				</div>
				<div class="row com_mobile-carousel text-center">
					<div class="item col-md-3">
						<div class="bp-img"><img src="assets/img/about/banner_facilities1.jpg" alt=""></div>
						<div class="com_par mt2 mob-mt2">
							<h5 class="co-grey">Playground</h5>
						</div>
					</div>
					<div class="item col-md-3">
						<div class="bp-img"><img src="assets/img/about/banner_facilities2.jpg" alt=""></div>
						<div class="com_par mt2 mob-mt2">
							<h5 class="co-grey">Activity Are</h5>
						</div>
					</div>
					<div class="item col-md-3">
						<div class="bp-img"><img src="assets/img/about/banner_facilities3.jpg" alt=""></div>
						<div class="com_par mt2 mob-mt2">
							<h5 class="co-grey">Event Halls</h5>
						</div>
					</div>
					<div class="item col-md-3">
						<div class="bp-img"><img src="assets/img/about/banner_facilities4.jpg" alt=""></div>
						<div class="com_par mt2 mob-mt2">
							<h5 class="co-grey">Sports Complex</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')