@@include('pages/header.html', {"title": "HFSE International School | Our Academic Curriculum, &amp; Virtues"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Our Academic Curriculum</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_our_curriculum.jpg'); background-position: 50% 80%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_our_curriculum.jpg'); background-position: 75% 80%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="row row-large group-height">
					<div class="col-md-6">
						<div class="section-title mb4 mob-mb4 gh1">
							<h1>Primary School</h1>
						</div>
						<div class="ab-par-push">
							<div class="com_par">
								<p>HFSE uses a self-developed integrated curriculum combining syllabus from Singapore, the Philippines, and other countries. Courses on Languages, Social Studies, Arts, Values Education, Christian Living are  integrated into the academic programme.</p>
							</div>
							<div class="com_par mt4">
								<h5>Students will be graded on the following</h5>
								<ul class="list-dot pl-md-4">
									<li>Topical Tests for all subjects taught</li>
									<li>Class Participation</li>
									<li>School Activities &amp; Events</li>
									<li>Behaviour in Class</li>
								</ul>
							</div>
							<div class="com_par mt4">
								<h5>Course Information</h5>
								<ul class="list-column pl-md-4">
									<li>
										<span><strong>Type of courses</strong></span>
										<span>Full-time</span>
									</li>
									<li>
										<span><strong>Levels</strong></span>
										<span>Primary 1 to 6</span>
									</li>
									<li>
										<span><strong>Teacher : Student </strong></span>
										<span>Average of 1 to 20</span>
									</li>
									<li class="d-block">
										<span><strong>Duration</strong></span>
										<span>
											10 months from January to December with semester holiday breaks in June &amp; late November to December (in accordance to the local school calendar)
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 mob-mt3">
						<div class="section-title mb-0 d-none d-md-block gh1"></div>
						<div class="ab-co-box">
							<h5>Subjects Taught</h5>
							<div class="ab-co-row mt2">
								<div class="row">
									<div class="col-6">English</div>
									<div class="col-6">Singapore's Ministry of Education Syllabus</div>
								</div>
								<div class="row">
									<div class="col-6">Mathematics</div>
									<div class="col-6">Singapore's Ministry of Education Syllabus</div>
								</div>
								<div class="row">
									<div class="col-6">Science</div>
									<div class="col-6">International Syllabus</div>
								</div>
								<div class="row">
									<div class="col-6">
										Mother Tongue/ <br>
										Native Language
									</div>
									<div class="col-6">International Syllabus</div>
								</div>
								<div class="row">
									<div class="col-6">Social Studies</div>
									<div class="col-6">International Syllabus</div>
								</div>
								<div class="row">
									<div class="col-6">Arts</div>
									<div class="col-6">International Syllabus</div>
								</div>
								<div class="row">
									<div class="col-6">Physical Education &amp; Health</div>
									<div class="col-6">International Syllabus</div>
								</div>
								<div class="row">
									<div class="col-6">Values Education</div>
									<div class="col-6">International Syllabus</div>
								</div>
								<div class="row">
									<div class="col-6">Christian Living</div>
									<div class="col-6">International Syllabus</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="section-title mb4 mob-mb4">
					<h1>HFSE Foundation & Preparatory Course</h1>
				</div>
				<div class="ab-par-push">
					<div class="com_par">
						<h5>Programme Overview</h5>
						<p>HFSE Preparatory Courses for Admission to Local Schools are designed to prepare the students for the Admissions Exercise for International Students (AEIS) conducted in September and February. It allows students to gain successful admission into local schools. The course aims to provide students with the necessary exposure, assessment, and practice to familiarize themselves, or even master, the Mathematics and English syllabi of Singapore.</p>
					</div>
					<div class="com_par mt2">
						<h5>Course Information</h5>
						<div class="row">
							<div class="col-md-6">
								<ul class="list-column">
									<li>
										<span><strong>Course Duration</strong></span>
										<span>6 months</span>
									</li>
									<li>
										<span><strong>Minimum No. of Students</strong></span>
										<span>10</span>
									</li>
									<li>
										<span><strong>Maximum No. of Students</strong></span>
										<span>25</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="com_par mt2">
						<div class="ab-par-col">
							<h5 class="ab-par-title">AEIS Refresher Course</h5>
							<p>HFSE's AEIS programme is more than just getting our students into local schools. It is equipping them with the necessary tools to seek knowledge and make sense of the world around them.</p>
						</div>
					</div>
					<div class="com_par mt2">
						<div class="ab-par-col">
							<h5 class="ab-par-title">HFSE's AEIS English Programme</h5>
							<ul class="list-decimal">
								<li>Is a concise and compact way of being exposed to a wide variety of vocabulary, outside their comfort zone.</li>
								<li>Is a good way to be exposed to how English is explicitly taught in Singapore schools.</li>
								<li>Provides students a conducive environment to learn English through reading comprehension and language awareness (grammar and vocabulary).</li>
							</ul>
						</div>
					</div>
					<div class="com_par mt2">
						<div class="ab-par-col">
							<h5 class="ab-par-title">HFSE's AEIS Mathematics Programme</h5>
							<ul class="list-decimal">
								<li>Acquire competencies required to confidently sit through the AEIS examinations.</li>
								<li>Develop thinking, analytical skills, and application through a mathematical approach to problem-solving.</li>
								<li>Understand and appreciate a more creative approach to problem-solving that is in line with MOE curriculum.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="section-title mb4 mob-mb4">
					<h1>Academic Pathway</h1>
				</div>
				<div class="bp-img d-none d-md-block"><img src="assets/img/hfsean-life/banner_academic_pathway.png" alt=""></div>
				<div class="bp-img img-scrollable pull-left pull-right pl15 pr15 d-block d-md-none"><img src="assets/img/hfsean-life/banner_academic_pathway.png" width="1000" alt=""></div>
				<div class="small-caption mt3">
					<p><i>Singapore Education for Foreigner Students, <br><span class="pl-4"><a class="link-inherit" href="https://universityinsingapore.com/singapore-education-for-foreigner-students/" target="_blank">https://universityinsingapore.com/singapore-education-for-foreigner-students/</a>. </i>Accessed 5 June 2020</span></p>
				</div>
				<div class="mt5">
					<div class="com_par mt3">
						<h5>Primary School Pathway</h5>
						<p>HFSE International School of Excellence offers Primary One to Primary Six full-time programme using its self-developed  curriculum leading to a Certificate of Completion awarded by the school. Our Primary School Pathway is for six years, which adapts the Ministry of Education's English and Mathematics syllabus and combining it with other subjects based on the Philippine's curriculum.</p>
						<p>Students in HFSE start at Primary One and move up to Primary Six. In order to benchmark the standard of the school as well as student achievement, the school collaborates with Uniworld International School in Johor Bahru which is an approved institute by Singapore Examination &amp; Assessment Board. By the time students reach Primary 6, students may undertake the iPSLE and be assessed on three subjects: English, Mathematics and Science. This examinations will allow our students benchmark their achievement and performance against Singapore's standard, which has consistently ranked at the top place for the past years based on international examinations and standards.</p>
						<p>*iPSLE : International Primary School Leaving Examination by Ministry of Education (Singapore) and Cambridge University.</p>
					</div>
					<div class="com_par mt3">
						<h5>Primary School: 6 Years Graduation Pre-requisite</h5>
						<div class="row row-large">
							<div class="col-md-8">
								<p>
									<strong>Primary One to Primary Six</strong> <br>
									HFSE implements the combined curriculum of Philippines such as Science, Social Studies (Araling Panlipunan), Christian Living, Filipino (Mother Tongue), Music, Art, Physical Education and Health and adopts the Singaporean curriculum for teaching English and Mathematics.
								</p>
								<p>This comprehensive self-developed school program which offers signature curriculum for Primary 1-6 intends to develop well-rounded, self-motivated, responsible and respectful global citizens.</p>
								<p>Every subject is assessed by formative and summative assessments.</p>
								<p>Formative assessments are Performance Task, Quizzes and Written Work = 60%</p>
								<p>Summative assessments are Term Examination with all the components incorporated = 40%</p>
								<p>Students must score 65% to get promoted to the next level.</p>
								<p>Students who belong to the graduating class of Primary 6 will be awarded a Certificate of Competion at the end of the programme. In addition, an iPSLE certificate awarded by the Ministry of Education, Singapore and Singapore Assessment and Examination Board will be given provided that the student took part in the assessment.</p>
								<p>Though taking part in the iPSLE assessment is not compulsory and up to the discretion of the students' parents, it is highly encouraged that all P6 students take the examination as it offers substantial information and insights regarding the students' performance and achievement based on Singapore's high-quality education standards.</p>
							</div>
							<div class="col-md-4 mob-mt3">
								<div class="ab-co-box">
									<div class="ab-co-row">
										<div class="row">
											<div class="col-4">
												<h5>AL</h5>
											</div>
											<div class="col-8">
												<h5>Raw Mark Range</h5>
											</div>
										</div>
										<div class="row">
											<div class="col-4">1</div>
											<div class="col-8">> 90</div>
										</div>
										<div class="row">
											<div class="col-4">2</div>
											<div class="col-8">85 - 89</div>
										</div>
										<div class="row">
											<div class="col-4">3</div>
											<div class="col-8">80 - 84</div>
										</div>
										<div class="row">
											<div class="col-4">4</div>
											<div class="col-8">75 - 79</div>
										</div>
										<div class="row">
											<div class="col-4">5</div>
											<div class="col-8">65 - 74</div>
										</div>
										<div class="row">
											<div class="col-4">6</div>
											<div class="col-8">45 - 64</div>
										</div>
										<div class="row">
											<div class="col-4">7</div>
											<div class="col-8">20 - 44</div>
										</div>
										<div class="row">
											<div class="col-4">8</div>
											<div class="col-8">< 20</div>
										</div>
									</div>
								</div>
								<div class="small-caption mt3">
									<p>
										<i>Ministry of Education Singapore.</i> PSLE: International Primary School Leaving Examination Score Chart, <br>
										<span class="pl-2"><a class="link-inherit word-break" href="https://www.moe.gov.sg/microsites/psle/PSLE%20Scoring/psle-scoring.html" target="_blank">https://www.moe.gov.sg/microsites/psle/PSLE%20Scoring/psle-scoring.html</a>.</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')