@@include('pages/header.html', {"title": "HFSE International School | Our Story"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Our Story</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/about/banner_our_story.jpg');"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/about/banner_our_story.jpg'); background-position: 75% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-5">
				<div class="com_par">
					<p>HFSE International School was established after an incident of adversity. In 2014, Expats Ninalyn and Gary Cacananta were unable to secure a slot for their son Gabriel in a local school in Singapore. This endangered the family's aspiration to remain together despite the difficulties that accompany living abroad. Since moving overseas in 2009, the start of a dream to build the best future for their family, they have faced constant struggle. Despite the odds, the couple would not trade their decision for anything, holding close to their faith that everything happens for a reason and that God's plans will become known in time.</p>
					<p>In 2015, Ninalyn, by then a homeschooler and work-at-home mom, had an epiphany. They weren't the only Filipino family to experience the same frustration and predicament. Confronted by the failure to acquire slots in local schools, many parents have been forced to live apart from their children. Hence, the idea of a solution was born – a support centre advocating for homeschooling. A place that can keep expat families together by providing standard educational needs. Ninalyn, with immense support from her husband Gary and  encouragement from her friend Grace, took a leap of faith and stepped up to provide that much-needed help.</p>
					<p>Uprooting the family and raising children overseas is a daunting and challenging task, made even more difficult and complicated when both parents are working. A strong support system for the children's education is one considerable worry off parents' shoulders. This is what you can find at Happy Family.</p>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="com_ho-box-img bp-img wide mob-pull-left mob-pull-right"><img src="assets/img/about/banner_our_story2.jpg" alt=""></div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-5">
				<div class="row">
					<div class="col-md-6 com_line-title mob-mb3">
						<h4 class="co-blue">We believe that every child deserves to learn and develop in a secure environment.</h4>
					</div>
					<div class="col-md-6">
						<div class="com_par">
							<p>We believe in giving our students a quality,   independent education focused on engaging and active learning, a commitment to the   environment, and dedication to the school and local communities. Since our school's opening, our dynamic educational               environment has continued to evolve. The school community will remain committed to creating an environment where students are supported, challenged and encouraged to grow. Under the care and encouragement of our teachers and staff, students who pass through the halls of our school develop into confident and happy children.</p>
							<p>As we continue to expand our Happy Family in Singapore, we are grateful for the support of our current students and parents, and we invite more to join us. As we eventually travel on different paths as individual families, it is not the destination that's the most important but the journey that counts. Let's create happy memories and experiences that will forever stay in our hearts and minds.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-5">
				<div class="section-title mb1 mob-mb3">
					<h1>Our Timeline</h1>
				</div>
			</div>
			<div class="container">
				<div class="bp-img wide d-none d-md-block"><img src="assets/img/about/banner_our_story_timeline.png" alt=""></div>
				<div class="bp-img img-scrollable d-block d-md-none mob-pull-left mob-pull-right pr15"><img src="assets/img/about/banner_our_story_timeline.png" width="1000" alt=""></div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')