@@include('pages/header.html', {"title": "HFSE International School | Our Happy Team"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Our Happy Dream Team</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/about/banner_our_happy_team.jpg');"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/about/banner_our_happy_team.jpg');"></div>
		</div>
		<div class="section pt-0">
			<div class="container">
				<div class="com_ho-box bd-top-none">
					<div class="container container-width-2">
						<div class="section-title">
							<h1>The Management and Advisory Board</h1>
						</div>
						<div class="row row-large group-height">
							<div class="col-md-6 mb4 mob-mb2">
								<div class="te-co-set gh1">
									<div>
										<h4>Ninanlyn "Nina" Sulit Cacananta</h4>
										<p>Founder and Managing Director</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 mb4 mob-mb2">
								<div class="te-co-set gh1">
									<div>
										<h4>Christina "Tin" Bacolod Labrador</h4>
										<p>School Principal</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 mb4 mob-mb2">
								<div class="te-co-set gh1">
									<div>
										<h4>Christine "Christine" Yap-Sim</h4>
										<p>Chairman and Strategic Advisor</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 mb4 mob-mb2">
								<div class="te-co-set gh1">
									<div>
										<h4>Maria Edlyn "Edz" Bagui Dela Cruz</h4>
										<p>Board Adviser</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="section-title mb0 mob-mb4">
							<h1>The Academic and Examinations Board</h1>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row group-height">
							<div class="col-12 mb4 mob-mb2">
								<div class="te-co-set set-white gh1">
									<div>
										<h4>Christina "Tin" Bacolod Labrador</h4>
										<p>Board Chairman</p>
									</div>
								</div>
							</div>
							<div class="col-12 mb4 mob-mb2">
								<div class="te-co-set set-white gh1">
									<div>
										<h4>Joseph "Josh" Regalado Tambio</h4>
										<p>Board Member</p>
									</div>
								</div>
							</div>
							<div class="col-12 mb4 mob-mb2">
								<div class="te-co-set set-white gh1">
									<div>
										<h4>Norma "Norms" Bardos Villamor</h4>
										<p>Board Member</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="section-title mb5 mob-mb4">
					<h1>Organizational Structure</h1>
				</div>
			</div>
			<div class="container">
				<div class="bp-img text-center d-none d-md-block"><img src="assets/img/about/banner_orginization_structure.png" alt=""></div>
				<div class="bp-img img-scrollable mob-pull-left mob-pull-right pl15 pr15 text-center d-block d-md-none"><img src="assets/img/about/banner_orginization_structure.png" width="1200" alt=""></div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="section-title mb5 mob-mb4">
					<h1>The Educational Rockstars</h1>
				</div>
				<div class="row">
					<div class="col-md-6 mb4 mob-mb2">
						<div class="te-co-set set-simple">
							<div>
								<h4>Christina "Tin" Bacolod Labrador</h4>
								<p>Principal</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb4 mob-mb2">
						<div class="te-co-set set-simple">
							<div>
								<h4>Alexandra "Alex" Kasilag</h4>
								<p>English Teacher</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb4 mob-mb2">
						<div class="te-co-set set-simple">
							<div>
								<h4>Sulochana "Sulo" Naidu D/O Letchumanapathy</h4>
								<p>English Subject Representative</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb4 mob-mb2">
						<div class="te-co-set set-simple">
							<div>
								<h4>Jamielyn Rae "Jamie" Buenavista</h4>
								<p>English Teacher and AEIS Coordinator</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb4 mob-mb2">
						<div class="te-co-set set-simple">
							<div>
								<h4>Eemanueil "Eemanueil" Tan Chia Sah</h4>
								<p>English Teacher</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb4 mob-mb2">
						<div class="te-co-set set-simple">
							<div>
								<h4>Hermilita "Lhen" Mendoza</h4>
								<p>Filipino Subject Head</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="section-title mb5 mob-mb4">
					<h1>The Enthusiastic Administration Team</h1>
				</div>
				<div class="row">
					<div class="col-md-6 mb4 mob-mb2">
						<div class="te-co-set set-simple">
							<div>
								<h4>Joanalyn "Jill" Linzagan</h4>
								<p>Business Development and Compliance Officer</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb4 mob-mb2">
						<div class="te-co-set set-simple">
							<div>
								<h4>Ma. Corazon "Corrie" Alde</h4>
								<p>Human Resources Manager</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')