@@include('pages/header.html', {"title": "HFSE International School | Our Mission, Vision, &amp; Virtues"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Our Mission, Vision, & Virtues</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/about/banner_our_mission.jpg');"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/about/banner_our_mission.jpg');"></div>
		</div>
		<div class="section">
			<div class="container container-width-5">
				<div class="com_par">
					<p>HFSE International School believes that every child can succeed, one happy family at a time.</p>
					<div class="bp-img mt5 pt5 text-center"><img src="assets/img/about/banner_happy_family.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="com_ho-box box-medium bp-rel">
					<div class="container container-width-5">
						<div class="row">
							<div class="col-md-6">
								<div class="ho-co-col mt-0">
									<div class="section-title mb5">
										<h1>Our Mission</h1>
									</div>
									<div class="com_par">
										<p>We are global citizens making an HFSEan difference.</p>
										<p>HFSE International School is committed to providing a nurturing and loving environment that produces well-rounded, proactive, valuable, and successful global citizens through quality education, skills development, and holistic approach.</p>
									</div>
								</div>
								<div class="ho-co-col">
									<div class="section-title mb5">
										<h1>Our Vision</h1>
									</div>
									<div class="com_par">
										<p>HFSE International School envisions to be the first choice of global migrating families.</p>
										<p>We are committed to building a community of skilled educators, supportive parents, and competent students who are passionate in pursuing excellence both in academics and in service. Together, we explore the world as one happy family.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bp-banner bp-ab col-md-6 d-none d-md-block" style="left: inherit; right: 0; background-image: url('assets/img/about/banner_mission_vision.jpg'); background-size: auto 100%; background-position: 100% 50%;"></div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-5">
				<div class="section-title mb5">
					<h1>Our Virtues</h1>
				</div>
				<div class="com_par">
					<p>
						<strong>Matthew 17:20</strong> <br>
						FAITH can move mountains.
					</p>
					<p>
						<strong>Jeremiah 29:11</strong> <br>
						For I know the plans I have for you," declares the Lord, "plans to prosper you and not to harm you, plans to give you HOPE and a future
					</p>
					<p>
						<strong>1 Corinthians 13:4-5</strong> <br>
						LOVE is patient, love is kind. It does not envy, it does not boast, it is not proud. 5 It does not dishonor others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs.
					</p>
					<p>
						<strong>Proverbs 3:5-6</strong> <br>
						TRUST in the Lord with all your heart and lean not on your own understanding; in all your ways submit to him, and he will make your paths straight.
					</p>
					<p>
						<strong>1 Peter 2:17</strong> <br>
						Show proper RESPECT to everyone, love the family of believers, fear God, honor the emperor.
					</p>
					<p>
						<strong>2 Timothy 1:7</strong> <br>
						For God has not given us a spirit of fear and timidity, but of power, love, and self-DISCIPLINE.
					</p>
					<p>
						<strong>Proverbs 16:3</strong> <br>
						COMMIT to the Lord whatever you do, and he will establish your plans.
					</p>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')