@@include('pages/header.html', {"title": "HFSE International School | Pandayan Leadership Camp"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Pandayan Leadership Camp</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_pandayan_leadership_camp.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_pandayan_leadership_camp.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-4">
				<div class="container container-width-5">
					<div class="com_par">
						<p>"Pandayan" is a Filipino word for foundry, a workshop for casting metal.</p>
						<p>To become the world's great leaders, we believe that a solid foundation is necessary. At the Pandayan Camp, our students from Primary Levels 4 to 6 undergo a journey to self-discovery, advancement, and empowerment. The action packed programme helps our future leaders develop resilience, character, discipline, and confidence. They are taught of different skills that will enable them to lead by example and inspire the entire student community to live out HFSE's happy values making a true HFSEan difference.</p>
					</div>
				</div>
				<div class="com_video-player mob-pull-left mob-pull-right mt5 pt3 mob-pt0">
					<img src="assets/img/dummy_video4.jpg" alt="">
					<div class="com_vi-pl-btn"></div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')