@@include('pages/header.html', {"title": "HFSE International School | Policies"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Policies</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/admissions/banner_policies.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/admissions/banner_policies.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<ul class="com_accordion ab-co-accordion" close-others="true" open-first="false">
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Refund Policy</h4>
						</div>
						<div class="com_accordion-content">
							<ul class="ac-acc-list">
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>Refund for withdrawal due to non-delivery of course:</h5>
									</div>
									<div class="com_par">
										<p>The PEI will notify the Student within three (3) working days upon knowledge of any of the  following:</p>
										<ul class="list-lower-roman">
											<li>It does not commence the Course on the Course Commencement Date;</li>
											<li>It terminates the Course before the Course Commencement Date;</li>
											<li>It does not complete the Course by the Course Completion Date;</li>
											<li>It terminates the Course before the Course Completion Date;</li>
											<li>It has not ensured that the Student meets the course entry or matriculation requirement as set by the organisation stated in Schedule A within any stipulated timeline set by CPE; or</li>
											<li>
												The Student's Pass application is rejected by Immigration and Checkpoints Authority (ICA). <br>
												The Student should be informed in writing of alternative study arrangements (if any), and also be entitled to a refund of the entire Course Fees and Miscellaneous Fees already paid should the Student decide to withdraw, within seven (7) working days of the above notice.
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>Refund for withdrawal due to other reasons:</h5>
									</div>
									<div class="com_par">
										<p>If the Student withdraws from the Course for any reason other than those stated in Clause 1.1, the PEI will, within seven (7) working days of receiving the Student's written notice of withdrawal, refund to the Student an amount based on the table in <a class="link" href="#">Schedule D.</a></p>
									</div>
								</li>
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>Refund during cooling-off period:</h5>
									</div>
									<div class="com_par">
										<p>The PEI will provide the Student with <a class="link" href="#">a cooling-off period of seven (7) working days</a> after the date that the Contract has been signed by both parties.</p>
										<p>The Student will be refunded the highest percentage (stated in <a class="link" href="#">Schedule D</a>) of the fees already paid if the Student submits a written notice of withdrawal to the PEI within the cooling-off period, regardless of whether the Student has started the course or not.</p>
									</div>
								</li>
							</ul>
							<div class="com_line-title mt5 mb5 pt5 mob-pt0"></div>
							<div>
								<h4 class="co-blue">Schedule D</h4>
								<div class="ab-co-row pt5 pb5">
									<div class="row row-large">
										<div class="col-6">
											<h5>% of [the amount of fees paid under Schedule B and C]</h5>
										</div>
										<div class="col-6">
											<h5>If student's written notice of withdrawal is received</h5>
										</div>
									</div>
									<div class="row row-large">
										<div class="col-6">[ 100% of One Month Tuition Fee Deposit ]</div>
										<div class="col-6">Less than [30] days before the commencement date or before the last day of attendance.</div>										
									</div>
									<div class="row row-large">
										<div class="col-6">30 days or more before the commencement date or before the last day of attendance.</div>
										<div class="col-6">[ 0% of One Month Tuition Fee Deposit ]</div>
									</div>
								</div>
								<div class="ab-co-row pt5 pb5">
									<div class="row row-large">
										<div class="col-6">
											<h5>Commencement Date / Last Day of Attendance</h5>
										</div>
										<div class="col-6">
											<h5>Submission of Withdrawal Form</h5>
										</div>
									</div>
									<div class="row row-large">
										<div class="col-6">13 January 2020</div>
										<div class="col-6">On or before 12 December 2019</div>										
									</div>
									<div class="row row-large">
										<div class="col-6">28 February 2020</div>
										<div class="col-6">On or before 01 February 2020</div>
									</div>
									<div class="row row-large">
										<div class="col-6">31 March 2020</div>
										<div class="col-6">On or before 01 March 2020</div>										
									</div>
									<div class="row row-large">
										<div class="col-6">30 April 2020</div>
										<div class="col-6">On or before 01 April 2020</div>
									</div>
									<div class="row row-large">
										<div class="col-6">31 May 2020</div>
										<div class="col-6">On or before 01 May 2020</div>										
									</div>
									<div class="row row-large">
										<div class="col-6">30 June 2020</div>
										<div class="col-6">On or before 01 June 2020</div>
									</div>
									<div class="row row-large">
										<div class="col-6">31 July 2020</div>
										<div class="col-6">On or before 01 July 2020</div>										
									</div>
									<div class="row row-large">
										<div class="col-6">31 August 2020</div>
										<div class="col-6">On or before 01 August 2020</div>
									</div>
									<div class="row row-large">
										<div class="col-6">30 September 2020</div>
										<div class="col-6">On or before 01 September 2020</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Withdrawal Policy</h4>
						</div>
						<div class="com_accordion-content">
							<p>To view our step-by-step procedure and guidelines on handling withdrawal of students from HFSE International School, please refer to the information below.</p>
							<ul class="ac-acc-list">
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>SCOPE</h5>
									</div>
									<div class="com_par">
										<ul class="ac-acc-num-list">
											<li><span>2.1.1</span> This SOP shall cover the process of submission of Student Withdrawal and Clearance Form</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>Definition of Terms</h5>
									</div>
									<div class="com_par">
										<ul class="ac-acc-num-list">
											<li>
												<span>2.2.1</span>
												<span><strong>Withdrawal:</strong> The act of pulling out the student from the school for various valid reason</span>
											</li>
											<li>
												<span>2.2.2</span>
												<span><strong>Clearance:</strong> The process of ensuring that all accountability for both parties are cleared prior to signing the form</span>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>Process Flow</h5>
									</div>
									<div class="com_par">
										<ul class="ac-acc-num-list">
											<li>
												<span>2.3.1</span>
												<span>The parents should notify the school by filling up the Student Withdrawal and Clearance Form and submit it to the Student Affairs Officer.</span>
											</li>
											<li>
												<span>2.3.2</span>
												<span>This will then be routed by Students Affairs Officer to all Department Heads to assure the student is cleared prior to the approval of the withdrawal and clearance form. Any unpaid inventory (Uniform, supplies, etc) must be settled first by the parents.</span>
											</li>
											<li>
												<span>2.3.3</span>
												<span>Parents are required to attend a face to face exit interview with the Principal to complete the process of the withdrawal.</span>
											</li>
											<li>
												<span>2.3.4</span>
												<span>Upon approval, the Academic Team will endorse the parents to the Students Affairs Officer for educational certificates processing. The release of certificate will be after 7 working days from the last day of attendance.</span>
											</li>
											<li>
												<span>2.3.5</span>
												<span>The refund policies for withdrawal will follow the policy specified in the Student Contract under Clause 2. Refund Policy. Refund will be processed within 7 working days.</span>
											</li>
											<li>
												<span>2.3.6</span>
												<span>Students Affairs Officer should update the database and notify all internal concerned persons for proper alignment.</span>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>REFERENCES</h5>
									</div>
									<div class="com_par">
										<ul class="ac-acc-num-list">
											<li>
												<span>2.4.1</span>
												<span>Student Withdrawal and Clearance Form</span>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Personal Data Protection Policy</h4>
						</div>
						<div class="com_accordion-content">
							<p>HFSE International School implements the Personal Data Protection Policy to properly safeguard the Personal Data collected from Staff, Students, Parents and Guardians for use in the course of our business.</p>
							<ul class="list-dot">
								<li>
									HFSE International School may collect, use, and disclose the following data, videos or photographs:
									<div class="pl-md-4 mt15 mb2">
										<ul class="list-decimal">
											<li>When applying for admission and enrolment</li>
											<li>When providing Personal Data by filling in feedback form when giving feedback, asking queries and job applications, requests, and submissions</li>
											<li>When contacting HFSE International School, a record of the correspondence including the possible recording of any telephone calls or text messages via WhatsApp or SMS</li>
											<li>Details of the visit to HFSE website</li>
											<li>If and when responding to any of HFSE's Marketing promotional activities or newsletters</li>
											<li>When filling up job application form for HFSE</li>
											<li>When participating in any event or activity organized by HFSE</li>
											<li>When you are invited as trainer or speaker to Professional and Personal Development workshops initiated by HFSE</li>
										</ul>
									</div>
								</li>
								<li>
									Listed below are the kinds of Personal Data that may be collected through the different channels mentioned above:
									<div class="pl-md-4 mt15 mb2">
										<ul class="list-decimal">
											<li>Name</li>
											<li>Date of Birth</li>
											<li>Mailing Addresses</li>
											<li>Email Addresses</li>
											<li>Telephone Numbers</li>
											<li>ID/Passport Numbers and copies</li>
											<li>Educational and employment history and professional qualifications, including and testimonials and references;</li>
											<li>Medical, legal and bankruptcy history;</li>
											<li>Next of Kin, family or guardian information;</li>
											<li>Photos and CCTV/videos;</li>
											<li>Bank account details and statements</li>
											<li>Curricula Vitae / Resume</li>
										</ul>
									</div>
								</li>
								<li>
									Purposes of Personal Data Collection, Use and Disclosure
									<div class="pl-md-4 mt15 mb2">
										<ul class="list-decimal">
											<li>To determine suitability for admission and enrolment at HFSE</li>
											<li>To perform or carry out HFSE obligations arising from any student's admission and enrolment at HFSE</li>
											<li>To enable HFSE's service providers, to fulfil obligations arising from any student's admission and enrolment at HFSE</li>
											<li>To enable HFSE to help students apply for accident and medical insurance</li>
											<li>To handle requests and enquiries (including payments)</li>
											<li>To administer and update student records in HFSE's databases; monitoring and maintaining copies of student records</li>
											<li>To allow communications between HFSE and student's parents and guardians</li>
											<li>To select speakers and trainers to speak to current HFSE students, staffs, teachers, parents and guardians</li>
											<li>To administer and facilitate travel and activities arrangements</li>
											<li>To facilitate the delivery, maintenance and enhancement of HFSE's services, programmes and events</li>
											<li>To plan, monitor, and enhance the provision of new services, projects, programmes and events</li>
											<li>To improve HFSE's services through your feedback</li>
											<li>To process your enquiries and any and all other ancillary administrative purposes</li>
											<li>To send regular HFSE e-newsletters</li>
											<li>For communications, marketing and publicity purposes</li>
											<li>For government, audit and other regulatory purposes</li>
											<li>For recruitment and evaluation purposes if you apply for a job with HFSE, i.e. to determine job suitability</li>
											<li>For security, surveillance and monitoring purposes</li>
											<li>For internal reporting and/or accounting purposes</li>
											<li>Purposes incidental to each or all of the above</li>
										</ul>
									</div>
								</li>
							</ul>
							<p>HFSE may also contact you by any means of communication for which you have given us contact details, including but not limited to via email, telephone numbers, and post, for the purpose of getting your feedback or for providing you with information which we believe could be of interest to you or your organisation.</p>
							<ul class="list-dot">
								<li>
									<strong>Length of retaining Personal Data</strong>
									<p>HFSE will cease to retain Personal Data, as soon as it is reasonable to assume that the purpose for collection of such personal data is no longer being served by such retention, and such retention is no longer necessary for legal or business purposes</p>
								</li>
								<li>
									<strong>Use of cookies to collect and use Personal Data</strong>
									<p>When you visit HFSE website, HFSE may collect or analyze anonymized information from which individual information will not be identified.  The information collected may include the number of users and the amount of time they stay on our website, which countries they are from, and what mode of device they are currently using to view our website, as well as domain information that helps us to learn our client's profile, the frequency of viewing. We use this information to improve our website's content and navigation.</p>
									<p>Some parts of this website may use cookies, which enable us to track usage patterns, enforce security, and offer you a customised content. A cookie is a small text file that our server places on your computer hard drive as a unique identifier.</p>
									<p>Note that our cookies do not have an expiration date and do not collect personally identifiable information.</p>
									<p>You may disable the use of cookies by selecting the appropriate settings on your browser. This may however result in you being unable to experience the full functionality of the websites.</p>
								</li>
								<li>
									<strong>HFSE Protection of Personal Data</strong>
									<p>HFSE implements a variety of security measures to maintain the safety of your submitted information. All electronic storage and transmission of personal data is secured and stored on managed servers with controlled access and appropriate security technologies.</p>
									<p>Although every reasonable effort has been made to ensure that all personal data will be so protected, HFSE cannot be responsible for any unauthorised use or misuse of such information and from risks which are inherent in all internet communications.</p>
									<p>Your Personal Data will only be disclosed for the express purpose of delivering the product or service requested and shall not be sold or disclosed to any other company for any other reason whatsoever without your consent.</p>
								</li>
								<li>
									<strong>Links to third party websites from HFSE's website</strong>
									<p>Our websites may contain links to other external websites, such as our business partners. We are not responsible for the privacy policies and practices of these websites taken care of by third parties. We strongly encourage you to check the privacy policy of each website that you visit. Some of these third-party websites may have our logo or trademark acknowledged on their website. However, these websites are not operated and maintained by us. Please contact the owner of the respective websites should you have any questions on their privacy policies</p>
								</li>
								<li>
									<strong>Access and Correction of Personal Data</strong>
									<p>Please contact us via dpo.hfhse@gmail.com should you wish to have access to or seek to update, correct or withdraw the consent to collect and use your Personal Data. Your email should identify yourself and state which Personal Data and information about its use and/or disclosure is requested</p>
								</li>
								<li>
									<strong>Further Information</strong>
									<p>If you are concerned about the handling of your Personal Data, or if you have any complaints or queries related to your Personal Data or our Privacy Policy, please contact HFSE's Data Protection Officer (“DPO”) at dpo.hfhse@gmail.com.</p>
								</li>
							</ul>
							<p>HFSE reserves the right to change this Policy with or without notice from time to time.</p>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Feedback Policy</h4>
						</div>
						<div class="com_accordion-content">
							<p>HFSE International School follows a standard in addressing and resolving different kinds of feedback from parents, guardians, students, and staff. For details about HFSE's Services Feedback Management, please refer to the process flow below.</p>
							<div class="bp-img d-none d-md-block mt5 mb5"><img src="assets/img/admissions/banner_feedback_policy.png" alt=""></div>
							<div class="bp-img img-scrollable pull-left pull-right pl15 pr15 d-block d-md-none mt5 mb5"><img src="assets/img/admissions/banner_feedback_policy.png" width="500" alt=""></div>
							<ul class="list-dot">
								<li>A feedback is a reaction to a product, a person&#39;s performance of a task, etc. which is used as a basis for improvement.</li>
								<li>
									Student/parent/guardian may provide feedback in written communication to the <br>
									Students Services Coordinator via:
									<div class="pl-md-4 mt15 mb2">
										<ul class="ac-acc-num-list">
											<li>
												<span>4.1</span>
												<span>Physical Form (Available at the Admin Office)</span>
											</li>
											<li>
												<span>4.2</span>
												<span class="word-break">Online Form: <a class="link" href="https://docs.google.com/forms/u/0/d/1lOA4qySIeFsjjh4MWlHjtfgnayz06DIKDR39n4r2kz0/viewform?usp=sharing&edit_requested=true" target="_blank">http://bit.ly/HFSEServicesFeedbackForm</a></span>
											</li>
										</ul>
									</div>
								</li>
								<li>Student Services Coordinator will acknowledge receipt of the feedback and forward it to the relevant Team for investigation.</li>
								<li>Head of the team will investigate and communicate with the student / parent / guardian within 21 working days. If feedback is unresolved by the relevant team, the Principal will take over and review the case.</li>
								<li>External mediation may be sought in case the Principal is unable to resolve the case.</li>
							</ul>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Transfer Policy</h4>
						</div>
						<div class="com_accordion-content">
							<p>To view our step-by-step procedure and guidelines on handling requirements of students transferring from HFSE International School to another school, please refer to the information below.</p>
							<ul class="ac-acc-list">
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>Scope</h5>
									</div>
									<div class="com_par">
										<ul class="ac-acc-num-list">
											<li>
												<span>5.1.1</span>
												<span>This SOP shall cover the process of submission of Student Withdrawal and Clearance Form</span>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>Definition of Terms</h5>
									</div>
									<div class="com_par">
										<ul class="ac-acc-num-list">
											<li>
												<span>5.2.1</span>
												<span><strong>Transfer:</strong> The act of moving from HFSE International School to another school whether in Singapore or another country</span>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>Process Flow</h5>
									</div>
									<div class="com_par">
										<ul class="ac-acc-num-list">
											<li>
												<span>5.3.1</span>
												<span>Parents must notify HFSE International School on the intention to transfer to another school thru email and fill up the Student Withdrawal and Clearance Form to start the processing.</span>
											</li>
											<li>
												<span>5.3.2</span>
												<span>Student Affairs officer will coordinate the form internally.</span>
											</li>
											<li>
												<span>5.3.3</span>
												<span>After thorough evaluation of all the details of the students and the parents, the Academics assistant can send the documents (with school seal/stamp) to the parents via email or hard copies depending on the parent's request.</span>
											</li>
											<li>
												<span>5.3.4</span>
												<span>In case wherein the school to be transferred requires their own documents to be filled up by HFSE IS, parents are also required to send an email to us attaching the forms needed from the other school.</span>
											</li>
											<li>
												<span>5.3.5</span>
												<span>Our school principal and the form teacher will complete the requested documents from other school then send back to them via email.</span>
											</li>
											<li>
												<span>5.3.6</span>
												<span>All requested documents must be certified with school stamp/seal before sending to the parents.</span>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ac-li-title">
										<div class="ac-acc-num">0</div>
										<h5>References</h5>
									</div>
									<div class="com_par">
										<ul class="ac-acc-num-list">
											<li>
												<span>5.4.1</span>
												<span>Student Withdrawal and Clearance Form</span>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Medical Insurance</h4>
						</div>
						<div class="com_accordion-content">
							<p>HFSE International School has a medical insurance scheme in place for all students. </p>
							<p>Please download the following documents for more information on the HFSE's Medical Insurance Scheme:</p>
							<p><strong>Hospital and Surgical Insurance Policy</strong></p>
							<p><a class="link-underline" href="https://drive.google.com/file/d/1acpc9lyB8UFpzPSYl25VP6EL7rAtnTsJ/view?usp=sharing" target="_blank">Benefit Schedule</a></p>
							<p><a class="link-underline" href="https://drive.google.com/file/d/1pyO0V3rQxG5OWf10yFMdry1lnSdQPtp0/view?usp=sharing" target="_blank">Cash Benefit</a></p>
							<p><a class="link-underline" href="https://drive.google.com/file/d/1at4t6foST1kFfrz07cyrkJZDQqU_Segb/view?usp=sharing" target="_blank">Letter of Guarantee</a></p>
							<p><a class="link-underline" href="https://drive.google.com/file/d/1BQ6_fgC4kIFRb__H3d3QgHaezGwXDvkc/view?usp=sharing" target="_blank">Policy</a></p>
							<br>
							<p><strong>Personal Accident Insurance <br>Period of Insurance: 21 August 2019 to 20 August 2020</strong></p>
							<p><a class="link-underline" href="https://drive.google.com/file/d/1ioNRy4po6R_FoRHnS2Z4ZgJRPgql2Q4G/view?usp=sharing" target="_blank">Personal Accident Benefits</a></p>
						</div>
					</li>
					<li class="com_accordion-set">
						<div class="com_accordion-title">
							<div class="ac-acc-num">0</div>
							<h4 class="ac-acc-title">Fee Protection Scheme</h4>
						</div>
						<div class="com_accordion-content">
							<p>The Fee Protection Scheme (FPS) serves to protect the total course fees paid by all its students.</p>
							<p>In the event that HFSE Internation School is unable to continue its operations due to insolvency and/or regulatory closure, students can claim the unconsumed fees from the FPS service provider.</p>
							<p>HFSE has appointed **** to be our students' FPS provider. Please download the documents below for details.</p>
							<p><a class="link-underline" href="#"><strong>Download Link</strong></a></p>
							<p><a class="link-underline" href="#"><strong>Download Link</strong></a></p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
@@include('pages/footer.html')