@@include('pages/header.html', {"title": "HFSE International School | Registration and Memberships"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Registration and Memberships</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/about/banner_about_cpe.jpg');"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/about/banner_about_cpe.jpg');"></div>
		</div>
		<div class="section">
			<div class="container container-width-2">
				<div class="section-title mb5 mob-mb4">
					<h1>CPE Registration</h1>
				</div>
				<div class="row">
					<div class="col-12 col-md-4 col-lg-auto mob-mb2">
						<div class="bp-img"><img src="assets/img/about/logo_cpe.png" alt=""></div>
					</div>
					<div class="col">
						<p>The Committee for Private Education (CPE) was appointed by SkillsFuture Singapore (SSG) Board in October 2016 to carry out its functions and powers relating to private education under the Private Education Act. Under the Act, schools are referred to as Private Education Institutions (PEIs). All PEIs operating in and from Singapore must be registered with the CPE under the Enhanced Registration Framework (ERF), as set out under the Private Education Act and the Private Education Regulations.</p>
						<p>HFSE International School (fka as Happy Family School of Excellence), the first Filipino-run   international school in Singapore, is registered as a Private Education Institute by the     Committee for Private Education.</p>
						<p>CPE Registration Number: 201541283N</p>
						<p>Period of Registration: 26 March 2019 to 25 March 2021</p>

						<div class="mt5">
							<p><strong>Committee for Private Education</strong></p>
							<ul class="com_icon-list list-2">
								<li class="align-items-start">
									<div class="icon"><img src="assets/img/about/icon_pin.png" alt=""></div>
									<div>
										<p>
											1 Marina Boulevard <br>
											#18-01 One Marina Boulevard <br>
											Singapore 018989
										</p>
									</div>
								</li>
								<li>
									<div class="icon"><img src="assets/img/about/icon_time.png" alt=""></div>
									<div>
										<p>
											Monday - Friday 9:00 AM - 5:00 PM <br>
											Saturday, Sunday and Public Holidays: Closed
										</p>
									</div>
								</li>
								<li>
									<div class="icon"><img src="assets/img/about/icon_phone.png" alt=""></div>
									<div>
										<p><a class="link-inherit" href="tel:6565121140">+65 6512 1140</a></p>
									</div>
								</li>
								<li>
									<div class="icon"><img src="assets/img/about/icon_mail.png" alt=""></div>
									<div>
										<p><a class="link-inherit" href="mailto:CPE_CONTACT@cpe.gov.sg">CPE_CONTACT@cpe.gov.sg</a></p>
									</div>
								</li>
								<li>
									<div class="icon"><img src="assets/img/about/icon_web.png" alt=""></div>
									<div>
										<p><a class="link-inherit" href="http://www.cpe.gov.sg" target="_blank">www.cpe.gov.sg</a></p>
									</div>
								</li>
							</ul>
						</div>
						<div class="mt5 text-center">
							<div class="mt5">
								<p><strong>Membership</strong></p>
								<div class="bp-img"><img src="assets/img/about/logo_membership.png" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')