@@include('pages/header.html', {"title": "HFSE International School | School Uniform"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>School Uniform</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_school_uniform.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_school_uniform.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="hf-su-box">
					<div class="hf-su-head">
						<div class="bp-img"><img src="assets/img/hfsean-life/banner_uniform_policy.png" alt=""></div>
						<div class="mt1">
							<p class="co-black"><strong>HFSEans must wear the prescribed uniform when they are in school or representing the school. Alteration to the uniform shall not be allowed.</strong></p>
						</div>
					</div>
					<div class="hf-su-main">
						<div class="com_tabs">
							<div class="tab-nav com_mobile-dropdown">
								<ul class="ab-tab-list com_mobile-dropdown-main group-height" carousel-type="2">
									<li class="item col-md-4">
										<a class="at-li-set gh1" href="#mon-wed"><h5>Mondays and <br>Wednesdays</h5></a>
									</li>
									<li class="item col-md-4">
										<a class="at-li-set gh1" href="#tue-thu"><h5>Tuesdays and <br>Thursdays</h5></a>
									</li>
									<li class="item col-md-4">
										<a class="at-li-set gh1" href="#fri"><h5>Fridays</h5></a>
									</li>
								</ul>
							</div>
							<div class="mt5 pt5 mob-pt0">
								<div id="mon-wed" class="tab-set">
									<div class="bp-img wide img-pull d-none d-md-block"><img src="assets/img/hfsean-life/banner_uniform_monday_wednesday.jpg" alt=""></div>
									<div class="bp-img img-scrollable img-pull d-block d-md-none"><img src="assets/img/hfsean-life/banner_uniform_monday_wednesday.jpg" width="1000" alt=""></div>
								</div>
								<div id="tue-thu" class="tab-set">
									<div class="bp-img wide img-pull d-none d-md-block"><img src="assets/img/hfsean-life/banner_uniform_tuesday_thursday.jpg" alt=""></div>
									<div class="bp-img img-scrollable img-pull d-block d-md-none"><img src="assets/img/hfsean-life/banner_uniform_tuesday_thursday.jpg" width="1000" alt=""></div>
								</div>
								<div id="fri" class="tab-set">
									<div class="bp-img wide img-pull d-none d-md-block"><img src="assets/img/hfsean-life/banner_uniform_friday.jpg" alt=""></div>
									<div class="bp-img img-scrollable img-pull d-block d-md-none"><img src="assets/img/hfsean-life/banner_uniform_friday.jpg" width="1000" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="container container-width-5 mt5 pt3 mob-pt0">
					<div class="com_par">
						<p>For Uniform Order, please contact our Admins and Operations Officer below:</p>
						<br>
						<p>Jocelyn "JOYCE" Caberte – Lorenzo</p>
						<ul class="com_icon-list">
							<li>
								<div class="icon"><img src="assets/img/about/icon_mail.png" alt=""></div>
								<div>
									<p><a class="link-inherit" href="mailto:joyce.lorenzo@hfse.edu.sg">joyce.lorenzo@hfse.edu.sg</a></p>
								</div>
							</li>
							<li>
								<div class="icon"><img src="assets/img/about/icon_phone.png" alt=""></div>
								<div>
									<p><a class="link-inherit" href="tel:9187 3237">9187 3237</a></p>
								</div>
							</li>
						</ul>
						<div class="d-flex mt4">
							<a class="button button-primary" href="#">ORDER NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')