@@include('pages/header.html', {"title": "HFSE International School | School Fees"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>School Fees</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/admissions/banner_school_fees.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/admissions/banner_school_fees.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="container container-width-5">
					<h1 class="title-simple mb2">AY2020 School Fees</h1>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="2">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<div class="ab-co-row">
								<div class="row row-large">
									<div class="col-6">
										<h5>Course Fee (with GST)</h5>
									</div>
									<div class="col-6">
										
									</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Monthly Course Fee</div>
									<div class="col-6">750</div>
								</div>
								<div class="row row-large">
									<div class="col-6">No. of Instalments</div>
									<div class="col-6">10</div>
								</div>
								<div class="row row-large">
									<div class="col-6"><strong>Total Course Fee Payable</strong></div>
									<div class="col-6"><strong>7,500</strong></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="4">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<div class="ab-co-row">
								<div class="row row-large">
									<div class="col-4 col-md-6">
										<h5>Due Date</h5>
									</div>
									<div class="col-4 col-md-3">
										<h5>Description</h5>
									</div>
									<div class="col-4 col-md-3">
										<h5>Fee</h5>
									</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 November 2019</div>
									<div class="col-4 col-md-3">1st Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 December 2019</div>
									<div class="col-4 col-md-3">2nd Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 January 2020</div>
									<div class="col-4 col-md-3">3rd Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 February 2020</div>
									<div class="col-4 col-md-3">4th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 March 2020</div>
									<div class="col-4 col-md-3">5th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 April 2020</div>
									<div class="col-4 col-md-3">6th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 May 2020</div>
									<div class="col-4 col-md-3">7th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 July 2020</div>
									<div class="col-4 col-md-3">8th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 August 2020</div>
									<div class="col-4 col-md-3">9th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 September 2020</div>
									<div class="col-4 col-md-3">10th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6"><strong>Total Course Fee Payable</strong></div>
									<div class="col-4 col-md-3"></div>
									<div class="col-4 col-md-3"><strong>7,500</strong></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="2">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<h5 class="mb2">One-Time Fees (with GST)*</h5>
							<div class="ab-co-row">
								<div class="row row-large">
									<div class="col-6">Application / Assessment Fees</div>
									<div class="col-6">400</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Enrolment Fees</div>
									<div class="col-6">920</div>
								</div>
							</div>
							<div class="mt3">
								<p>*One-Time Fees are non-refundable.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="2">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<h5 class="mb2">One-Time Fees Breakdown</h5>
							<div class="ab-co-row ">
								<div class="row row-large">
									<div class="col-6"><strong>Registration and Assessment Fees</strong></div>
									<div class="col-6"></div>
								</div>
								<div class="row row-large">
									<div class="col-6">Registration Fee</div>
									<div class="col-6">300</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Assessment Fee</div>
									<div class="col-6">100</div>
								</div>
								<div class="row row-large">
									<div class="col-6 pt1"><strong>Enrolment Fees</strong></div>
									<div class="col-6"></div>
								</div>
								<div class="row row-large">
									<div class="col-6">Materials Fee, Books & Stationeries</div>
									<div class="col-6">500</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Personal Accident Insurance - PA</div>
									<div class="col-6">20</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Hospitalization & Surgical Insurance</div>
									<div class="col-6">50</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Regular Uniform & PE Uniform</div>
									<div class="col-6">150</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Online Support Lesson Plan& Syllabus</div>
									<div class="col-6">200</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="2">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<h5 class="mb2">CCA Fee</h5>
							<div class="ab-co-row">
								<div class="row row-large">
									<div class="col-6">Per Term</div>
									<div class="col-6">60 - 80</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="ab-co-push">
						<div class="com_line-title mt6"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="container container-width-5">
					<h1 class="title-simple mb2">AY2021 School Fees</h1>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="2">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<div class="ab-co-row">
								<div class="row row-large">
									<div class="col-6">
										<h5>Course Fee (with GST)</h5>
									</div>
									<div class="col-6">
										
									</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Monthly Course Fee</div>
									<div class="col-6">750</div>
								</div>
								<div class="row row-large">
									<div class="col-6">No. of Instalments</div>
									<div class="col-6">10</div>
								</div>
								<div class="row row-large">
									<div class="col-6"><strong>Total Course Fee Payable</strong></div>
									<div class="col-6"><strong>7,500</strong></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="4">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<div class="ab-co-row">
								<div class="row row-large">
									<div class="col-4 col-md-6">
										<h5>Due Date</h5>
									</div>
									<div class="col-4 col-md-3">
										<h5>Description</h5>
									</div>
									<div class="col-4 col-md-3">
										<h5>Fee</h5>
									</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 November 2019</div>
									<div class="col-4 col-md-3">1st Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 December 2019</div>
									<div class="col-4 col-md-3">2nd Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 January 2020</div>
									<div class="col-4 col-md-3">3rd Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 February 2020</div>
									<div class="col-4 col-md-3">4th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 March 2020</div>
									<div class="col-4 col-md-3">5th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 April 2020</div>
									<div class="col-4 col-md-3">6th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 May 2020</div>
									<div class="col-4 col-md-3">7th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 July 2020</div>
									<div class="col-4 col-md-3">8th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 August 2020</div>
									<div class="col-4 col-md-3">9th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6">15 September 2020</div>
									<div class="col-4 col-md-3">10th Instalment</div>
									<div class="col-4 col-md-3">750</div>
								</div>
								<div class="row row-large">
									<div class="col-4 col-md-6"><strong>Total Course Fee Payable</strong></div>
									<div class="col-4 col-md-3"></div>
									<div class="col-4 col-md-3"><strong>7,500</strong></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="2">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<h5 class="mb2">One-Time Fees (with GST)*</h5>
							<div class="ab-co-row">
								<div class="row row-large">
									<div class="col-6">Application / Assessment Fees</div>
									<div class="col-6">400</div>
								</div>
								<div class="row row-large">
									<div class="col-6">Enrolment Fees</div>
									<div class="col-6">920</div>
								</div>
							</div>
							<div class="mt3">
								<p>*One-Time Fees are non-refundable.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="com_mobile-scollable mb3" data-columns="2">
					<div class="ab-co-box ab-co-push">
						<div class="container">
							<h5 class="mb2">CCA Fee</h5>
							<div class="ab-co-row">
								<div class="row row-large">
									<div class="col-6">Per Term</div>
									<div class="col-6">60 - 80</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="ab-co-push">
						<div class="com_line-title mt6"></div>
					</div>
				</div>
				<div class="container mt6">
					<div class="ab-co-push">
						<div class="section-title mb4 mob-mb4">
							<h4 class="co-blue">Payment Methods</h4>
						</div>
						<div class="row">
							<div class="col-md-6">
								<ul class="list-dot co-blue">
									<li class="mb-4">
										<h5>Cash</h5>
									</li>
									<li class="mb-4">
										<h5>Bank Transfer</h5>
										<div class="com_par co-grey mt15">
											<p>Account Name: HFSE INTERNATIONAL SCHOOL</p>
											<p>Bank Name: UOB</p>
											<p>Account Number: 371 305 4346</p>
										</div>
									</li>
									<li class="mb-4">
										<h5>PayNow</h5>
										<div class="com_par co-grey mt15">
											<p><strong>EMAIL PROOF OF PAYMENT</strong></p>
											<a class="link-inherit" href="mailto:payments@hfse.edu.sg?cc=admissions@hfse.edu.sg&subject=AY2020_LastName_First_Name">
												<p>TO: payments@hfse.edu.sg</p>
												<p>CC: admissions@hfse.edu.sg</p>
												<p>Subject: AY2020_LastName_First_Name</p>
											</a>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-md-6 text-md-right mob-mt3">
								<div class="bp-img"><img src="assets/img/admissions/banner_payment_methods.jpg" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')