@@include('pages/header.html', {"title": "HFSE International School | Transportation Partner Calendar"})
	<section id="main-wrapper" class="com_header-height animate" anim-control="parent">
		<div class="section com_masthead">
			<div class="com_masthead-main bottom">
				<div class="container container-width-3">
					<div class="com_masthead-col">
						<div class="container container-width-5">
							<div class="section-title mb5">
								<h1>Transportation Partner Calendar</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bp-banner bp-ab d-none d-md-block" style="background-image: url('assets/img/hfsean-life/banner_transportation_partner_calendar.jpg'); background-position: 50% 50%;"></div>
			<div class="bp-banner bp-ab d-block d-md-none" style="background-image: url('assets/img/hfsean-life/banner_transportation_partner_calendar.jpg'); background-position: 50% 50%;"></div>
		</div>
		<div class="section">
			<div class="container container-width-3">
				<div class="row">
					<div class="col-md-6">
						<div class="section-title mb4 mob-mb4">
							<h1>Fees and Calendar</h1>
						</div>
						<p>The Academic Year runs from September through to August and the corresponding Transportation Partner Calendar and Schedule of Fees is released in advance.</p>
						<p>
							The schedule of offer fees: <br>
							<a class="link-underline" href="#"><strong>Schedule of Fees 2020/2021</strong></a>
						</p>
						<p>
							To view the latest calendar: <br>
							<a class="link-underline" href="#"><strong>Transportation Partner Calendar 2020/2021</strong></a>
						</p>
					</div>
					<div class="col-md-6 mob-mt3">
						<div class="bp-img wide mob-pull-left mob-pull-right"><img src="assets/img/hfsean-life/banner_transportation_partner_calendar2.jpg" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>
@@include('pages/footer.html')